// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset
@import "normalize.less";
@import "print.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
/*@import "code.less";*/
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
@import "glyphicons.less";
@import "dropdowns.less";
/*@import "button-groups.less";*/
/*@import "input-groups.less";*/
@import "navs.less";
@import "navbar.less";
/*@import "breadcrumbs.less";*/
/*@import "pagination.less";*/
/*@import "pager.less";*/
/*@import "labels.less";*/
@import "badges.less";
/*@import "jumbotron.less";*/
/*@import "thumbnails.less";*/
@import "alerts.less";
/*@import "progress-bars.less";*/
/*@import "media.less";*/
/*@import "list-group.less";*/
/*@import "panels.less";*/
@import "wells.less";
/*@import "close.less";*/

// Components w/ JavaScript
/*@import "modals.less";*/
/*@import "tooltip.less";*/
/*@import "popovers.less";*/
/*@import "carousel.less";*/

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";

@fa-font-path: "../bootstrap-3.0.2/fonts";
@icon-font-path: "../bootstrap-3.0.2/fonts/";

@font-family-sans-serif: 'Open Sans', sans-serif;

@link-color: #DA5102;
@link-hover-color: #9A3800;
@color2: #FFCC00;
@color3: #FC9303;

@body-bg: #f5f5f5;

/*@navbar-default-bg: #E04B00;*/
/*@navbar-default-bg: #FC9303;*/
@navbar-border-radius: 0;
@navbar-default-color: @link-color;
@navbar-default-link-color: @link-color;
@navbar-default-link-hover-color: @link-hover-color;
@navbar-default-toggle-hover-bg: transparent;
@navbar-default-toggle-border-color: transparent;

@gray-dark: #535353;

@headings-color: @color3;
@headings-font-weight: bold;

@thumbnail-border: @color2;

body {
    background: url("../images/background.png") #f5f5f5 center 200px no-repeat fixed;
}

html,
body {
  height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

@media (min-width: 768px) {
    /* Wrapper for page content to push down footer */
    #wrap {
      min-height: 100%;
        height: auto;
      /* Negative indent footer by its height */
        margin: 0 auto -250px;
      /* Pad bottom by footer height */
        padding: 0 0 250px;
    }

    /* Set the fixed height of the footer here */
    #footer {
        height: 250px;
    }
}

.navbar {
    #gradient.vertical(@color2; @color3; 0%; 90%);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.25);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.25);
    z-index: 2;
}

footer {
    margin-top: 20px;
    /*background: @color3;*/
    #gradient.vertical(@color3; @color2; 0%; 95%);
    /*font-size: 12px;*/
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-box-shadow: 0 -3px 10px rgba(0, 0, 0,.25);
    -moz-box-shadow: 0 -3px 10px rgba(0, 0, 0,.25);

    h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
        color: #535353;
    }
    a {
        color: @link-hover-color;
    }
}

.content {
    h1, h2, h3, .h1, .h2, .h3 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;

        a {
            color: @color3;
        }
        a:hover {
            color: @color3;
            text-decoration: none;
        }
    }
}

h1, h2, h3, .h1, .h2, .h3 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.navbar-brand {
    padding: 8px 8px;
}

.navbar-brand span {
    display: none;
}

.navbar-default {
    min-height: 25px;
    margin-bottom: 0;
    border: 0;
    .navbar-toggle,
    .navbar-nav li > a {
        color: @link-hover-color;
        text-shadow: 1px 1px 0 #FFCC00;
    }
    .navbar-toggle:hover,
    .navbar-nav li > a:hover {
        color: @link-color;
    }
    .navbar-toggle:hover {
        color: @link-color;
    }
    .caret {
        border-top-color: @link-hover-color;
    }
}
@media (min-width: 768px) {
    .home {
        .navbar-toggle {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 481px) {
}

@media (max-width: 767px) {
    .navbar-header {
        img {
            width: 85px;
        }
    }
    .navbar-brand {
        padding: 2px;
    }
    .navbar-nav > li > a {
        line-height: 70px;
        font-size: 16px;
    }
    .navbar-nav > li > a{
        line-height: 25px;
    }
}

@media (min-width: 768px) {
    .navbar {
        margin-bottom: 6px;
    }
    .home .navbar {
        margin-bottom: 0;
    }
    .navbar-header {
        img {
            width: 130px;
        }
    }
    .navbar-nav > li > a {
        line-height: 70px;
        font-size: 16px;
    }
    /*.home .navbar-nav > li > a{*/
        /*line-height: 35px;*/
    /*}*/
}
@media (min-width: 992px) {
    .navbar {
        margin-bottom: 8px;
    }
    .navbar-header {
        img {
            width: 100%;
        }
    }
    .navbar-nav > li > a {
        line-height: 100px;
        font-size: 18px;
    }
}

/* home page */
.container-dark {
    #gradient.vertical(@color2; @color3; 0%; 90%);
    width: 100%;
    h1, h2, h3, h4 {
        color: white;
        text-shadow: 1px 1px 0 @link-hover-color;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
.container-light .well {
    #gradient.vertical(#ddd; #efefef; 0%; 90%);
    /*padding: 10px;*/
}
.container-light h3 {
    margin-top: 0;
}

.table.middle th,
.table.middle td {
    vertical-align: middle;
}

.btn:hover {
    /*border-color: @color3;*/
    /*background-color: @color2;*/
}
a.btn .glyphicon,
a.btn .fa {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
a.btn:hover .glyphicon,
a.btn:hover .fa {
    opacity: 1;
    filter: alpha(opacity=100);
}

a,
.btn,
.glyphicon,
h6,
.fa {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.fluidHeight {
    position: relative;
    width: 100%;
    height: 560px;
}

/*
 * below 1400px, switch to percentage based responsive height.
 * padding of 33.333% is calculated by using the
 * image ratio 560px/1400px = .4 * 100% = 40%
 */
@media screen and (max-width: 1400px) {
    .fluidHeight {
        height: 0;
        padding: 0 0 40% 0;
    }
}

.sliderContainer.home {
    position: absolute;
    width: 100%;
    height: 100%;
}
.sliderContainer.visite {
    /*[> defaults for resposive height container <]*/
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 66% 0;
}

.iosSlider {
    width: 100%;
    height: 100%;
    background: url(../images/light_noise_diagonal.png) repeat;
    /*background: url(../images/greyzz_@2X.png) repeat;*/
}
.visite .iosSlider {
    /* this height ends up being your maximum height,
    * if you want it to scale forever, set it to
    * a very high number */
    height: 1500px;
}

.iosSlider .slider {
    width: 100%;
    height: 100%;
}

.iosSlider .slider .item {
    position: relative;
    top: 0;
    left: 0;

    max-width: 1400px;
    width: 100%;
    height: 100%;
}

.iosSlider .slider .item .inner {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 100%;
}

@media screen and (min-width: 1400px) {
    .iosSlider .slider .item .inner {
        width: 95%;
        height: 100%;
        padding: 20px 0;
    }
}

.iosSlider .slider .item .inner img {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}


/* controls */
.sliderContainer .prevContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;

    padding: 0 0 19.5% 0;
    z-index: 10;
}

.sliderContainer .prevContainer .prev {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: 20%;
    background: #aaa;
}

.sliderContainer .nextContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;

    padding: 0 0 19.5% 0;
    z-index: 10;
}

.sliderContainer .nextContainer .next {
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 20%;
    left: 0;
    background: #aaa;
}


.sliderContainer .slider-control {
    position: absolute;
    font-size: 40px;
    color: #000;
    top: 40%;
    background-color: #fff;
    padding: 10px 10px 15px 10px;
    z-index: 1;
}
.sliderContainer .slider-control.prev {
    left: 0;
    padding-left: 0;
    -webkit-border-radius: 0px 6px 6px 0px;
    border-radius: 0px 6px 6px 0px;
}
.sliderContainer .slider-control.prev:hover {
    text-decoration: none;
    padding-left: 10px;
}
.sliderContainer .slider-control.next {
    right: 0;
    padding-right: 0;
    -webkit-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0px 0px 6px;
}
.sliderContainer .slider-control.next:hover {
    text-decoration: none;
    padding-right: 10px;
}
@media (max-width: 480px) {
    .sliderContainer .slider-control.prev,
    .sliderContainer .slider-control.next {
        display: none;
  }
}
.sliderContainer .slider-control {
    opacity: 0;
    filter: alpha(opacity=0);
}
.sliderContainer:hover .slider-control {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.sliderContainer .slider-control:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.sliderContainer .slider-control {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.sliderContainer .pages {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.sliderContainer .pages .page {
    display: inline-block;
    color: transparent;
    width: 8px;
    height: 8px;
    border: 4px solid orange;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-left: 2px;
    margin-right: 2px;
}
.sliderContainer .pages .page.active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.iosSlider .slider .item .text1,
.iosSlider .slider .item .text2 {
    background: none repeat scroll 0 0 #333;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.iosSlider .slider .item .text1 {
    /*top: 100px;*/
    font-size: 270%;
    padding: 0 8px;
}
.iosSlider .slider .item .text2 {
    top: 160px;
    font-size: 150%;
    padding: 0 4px;
}
.iosSlider .slider .item .text1.right,
.iosSlider .slider .item .text2.right {
    right: 0;
}
.iosSlider .slider .item .text1.right.display {
    right: 50px;
}
.iosSlider .slider .item .text2.right.display {
    right: 20px;
}
.iosSlider .slider .item .text1.left,
.iosSlider .slider .item .text2.left {
    left: 80px;
}
.iosSlider .slider .item .text1.left.display {
    left: 20px;
}
.iosSlider .slider .item .text2.left.display {
    left: 20px;
}

.iosSlider .slider .item .text1.display,
.iosSlider .slider .item .text2.display {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.iosSlider .slider .item .text1 {
    top: 15px;
    font-size: 220%;
}
.iosSlider .slider .item .text2 {
    top: 60px;
    font-size: 150%;
}

@media screen and (min-width: 1400px) {
    .iosSlider .slider .item .text1 {
        top: 35px;
    }
    .iosSlider .slider .item .text2 {
        top: 80px;
    }
}

@media screen and (max-width: 480px) {
    .iosSlider .slider .item .text1 {
        top: 5px;
    }
    .iosSlider .slider .item .text2 {
        top: 34px;
    }
    .iosSlider .slider .item .text1 {
        font-size: 125%;
    }
    .iosSlider .slider .item .text2 {
        font-size: 90%;
    }
    .iosSlider .slider .item .text1.right.display {
        right: 25px;
    }
    .iosSlider .slider .item .text2.right.display {
        right: 10px;
    }
    .iosSlider .slider .item .text1.left.display {
        left: 10px;
    }
    .iosSlider .slider .item .text2.left.display {
        left: 10px;
    }
}

.nav .badge {
    background-color: transparent;
    padding: 0;
    font-size: 10px;
    color: @link-hover-color;
}

a.alert-actu {
    display: block;
    p, h1, h2, h3, h4, h5 {
        color: @link-hover-color;
    }
}
a.alert-actu:hover {
    text-decoration: none;
    p, h1, h2, h3, h4, h5 {
        color: @link-color;
    }
}
.alert-actu {
    background-color: @color2;
    border-top-color: @color3;
    border-top-width: 3px;
    border-radius: 0 0 4px 4px;
}
.actualites .alert-actu {
    background-color: rgba(200, 200, 200, 0.4);
    border: 1px solid lightgrey;
    border-left-width: 3px;
    border-left-color: @color3;
    border-radius: 0 4px 4px 0;
}
.alert-actu:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.25);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.25);
}

table th {
    background-color: #FFE394;
    font-style: italic;
}

@table-border-color: grey;

a[data-role=cours] {
    display: block;
    border-radius: 20px;
    padding: 4px;
    /*background-color: #ddd;*/
    #gradient.vertical(#efefef; #ddd; 0%; 90%);
    border: 1px solid #aaa;
    margin-top: 10px;
    margin-bottom: 10px;

    h1, h2, h3, .h1, .h2, .h3 {
        color: @link-color;
        border-bottom: 0;
    }

    h6 {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: white;
        background-color: @color3;
        border-radius: 2px;
        padding: 4px;
    }
}
a[data-role=cours]:hover {
    text-decoration: none;
    background-color: #d3d3d3;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.25);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.25);
    h6 {
        right: 20px;
    }
}
