---
title: Les cours - Bachata
layout: default
description: "L'école de danse Moioli propose un cours de danse pour ceux qui veulent apprendre la bachata."

categories:
  - latino
---

{% include autres_cours.html param="bachata" %}

<div class="row mb-5">
  <div class="col-12">
    <h2 class="danse-title">Bachata</h2>
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/bachata_hover.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Plongez dans la culture latino&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>Incontournable dans vos soirées latino</li>
          <li>Sensuelle et fusionnelle</li>
        </ul>
        </p>
      </strong></h4>
      </div>
    </div>
  </div>
</div>
<h3>Cours 2ème année et plus</h3>
<div class="row">
  <div class="col-12 col-md-7">
    <ul>
      <li>La BACHATA est abordée dans les cours de salsa</li>
      <li>+ un cours uniquement de BACHATA Inter/Avancé</li>
    </ul>
  </div>
  <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div>
</div>
