---
title: BLUES
layout: default
description: "A l'école de danse Moioli, on y enseigne aussi le blues. Pour les passionés des musiques swing."
---

{% include autres_cours.html param="blues" %}

<div class="row mb-5">
  <div class="col-12">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/blues_page.jpg" alt="image couple danseurs de blues"class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Laissez parler vos émotions avec le Blues&nbsp;&raquo;
        </h4>
        <p>
        <ul>
        <p>Le Blues est une danse d’improvisation profondément expressive, née des musiques afro-américaines du début du XXe siècle.<br>
          Sensuelle, connectée et riche en nuances, elle vous invite à explorer le mouvement avec authenticité et à dialoguer avec votre partenaire sur des rythmes lents, groovy ou intenses.
          Accessible à tous, la danse blues privilégie l’écoute, la connexion et le plaisir de danser ensemble dans l’instant.<br>
          Venez découvrir une danse qui laisse la place à l’émotion, à la créativité et à la liberté du corps.
        </p>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='blues' %}
    {% include table_salles.html %}
  </div>
  <div class="col-12 col-md-5">
    {% include debutant.html form="e/1FAIpQLSdJHff_PU-DAg5dUECopnBeLprsEUsBdK3IfEsrd7gBUV96LQ" %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div>
</div>
