---
title: Les cours - Kizomba
layout: default
description: "L'école de danse Moioli vous propose des cours de kizomba. Une danse latino à la mode. Un bon moyen d'enrichir votre salsa."

categories:
  - latino
---

{% include autres_cours.html param="kizomba" %}

<div class="row mb-5">
  <div class="col-12">
    <h1 class="danse-title text-center">Kizomba</h1>
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/kizomba_hover.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Sensuelle et fusionnelle&nbsp;&raquo;
        </h4>
        <p>
        Cette danse tout droit venu d'Angola est très tendance depuis quelques années. A la base, la KIZOMBA est un mélange entre le semba et le tango. Elle est d’ailleurs appelée à juste titre «tango d’Afrique». Son voyage à travers différents continents l’on fait évoluer en y associant des pas d’influence latine et urbaine.
        Sensuelle, élégante et technique, elle sait instaurer une symbiose entre les danseurs et la musique.
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='kizomba' %}
    {% include table_salles.html %}
  </div>
<!--  <div class="col-12 col-md-5">
  {% include debutant.html form="1LO3UlRaWAeLcS7vpjabqDTPCkVqVBQTQOASmruFKCJ0" %}
  </div> -->
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <!--    <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div> -->
</div>
