---
title: Les cours - Lindy hop Balboa
layout: default
description: "A l'école de danse Moioli, on y enseigne aussi le lindy hop et le balboa. Pour les passionés des musiques swing."
---

{% include autres_cours.html param="lindy" %}

<div class="row mb-5">
  <div class="col-12">
    <h2 class="danse-title">Lindy Hop - Balboa</h2>
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/lindy_hover.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Pour les passionés de Swing&nbsp;&raquo;
        </h4>
        <p>
        <ul>
        <p>Le Lindy-Hop est l'ancêtre du rock cependant, là où le rock est très carré, cette dernière se rapproche du boogie-woogie avec un style « swingué », arrondi.
        C'est une danse extrêmement riche, f​un et qui respire la joie de vivre...<br>
        La Balboa est une danse swing née dans les années 1920 sur la côte Ouest des États-Unis, plus précisément dans la péninsule de Balboa.
        Elle se danse le plus souvent en 8 temps sur des musiques swing, et ses jeux de jambes sont plus particulièrement adaptés aux tempos rapide.
        </p>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='lindy' %}
    {% include table_salles.html %}
  </div>
  <div class="col-12 col-md-5">
    {% include debutant.html form="1ocvrVyV94yKPSlaK3Vy5LGkbXcixl8JZQgYtv4Sncf0" %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div>
</div>
