---
title: Les cours - Rock
layout: default
description: "Envie d'apprendre les danses de salon ? Dans ce cours, vous apprendrez le rock mais aussi la valse, le tango, le cha-cha et d'autres danses encore."
---
{% include autres_cours.html param="rock" %}

<div class="row mb-5">
  <div class="col-12">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/rock_page.png" alt="image couple danseurs de rock 'n' roll"class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Optez pour l'indémodable&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <p>Danse de l’après guerre, avec une musique rythmée, entraînante et reconnaissable entre toutes,
            c’est l'indémodable qui vous donnera plaisir à danser à deux</p>
        </ul>
        </p>
      </h4>
      </div>
    </div>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='rock' %}
    {% include table_salles.html %}
  </div>
  <div class="col-12 col-md-5">
  {% include debutant.html form="13VlKhrG2A6RNrvpx-8tiWHfZpNzvW0A-9bmOgrhozys" %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div>
</div>
