---
title: DANSES DE SALON
layout: default
description: "Envie d'apprendre les danses de salon ? Dans ce cours, vous apprendrez le rock mais aussi la valse, le tango, le cha-cha et d'autres danses encore."

samedi: true
---
{% include autres_cours.html param="salon" %}


<div class="row mb-5">
  <div class="col-sm-12">
    <h1 class="text-center">Danses de salon : Valse, cha-cha, tango, etc...</h1>
  </div>
  <div class="col-12">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/salon_page.png" alt="image couple danseurs de tango valse cha-cha paso doble quickstep"class="img-fluid center-block" />
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Baignez dans l'esprit guinguette&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>Vous découvrirez le plaisir de danser à deux et apprivoiserez la musique et les differents rythmes qui se pratiquent dans les bals, thé dansants et guingettes.</li>
          <li>La valse, le tango, le chacha ou encore le paso doble n'auront bientôt plus aucun secret pour vous. </li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='salon' %}
    {% include table_salles.html %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div>
</div>
