---
title: Les cours - Salsa
layout: default
description: "L'école de danse Moioli propose un cours de danse pour ceux qui veulent apprendre la salsa et les autres danses latino : bachata."

categories:
  - latino
---

{% include autres_cours.html param="salsa" %}

<div class="row mb-5">
  <div class="col-12">
    <h1 class="text-center">Salsa cubaine - Bachata</h1>
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/salsa_page.png" alt="image couple danseurs de salsa cubaine et bachata"class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Plongez dans la culture latino !&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <p>Découvrez ce cocktail de rythme et de bonne humeur dont les ingrédients sont la salsa cubaine et la bachata.<br>
          Festives, ludique et dans l'air du temps elles sauront vous ravir par leur énergie et leur accessibilité.
          La salsa est une danse improvisée qui se danse généralement à deux,
          mais que l'on peut pratiquer également seul (salsa suelta), ou à plusieurs couples (rueda de casino).<br>
          La bachata, venue de République Dominicaine, est une des danses les plus simples à apprendre et également une des plus sensuelles.<br>
          Les cours proposés sont composés d'environ 70% de salsa et 30% de bachata.
          </p>
        </ul>
        </p>
      </h4>
      </div>
    </div>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='salsa' %}
    {% include table_salles.html %}
  </div>
  <div class="col-12 col-md-5">
  {% include debutant.html form="1Awuf8zo2CtgkypM7e7GEl6KYCPmZfBfBEHPTow6vW3w" %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div>
</div>
