---
title: Les cours - Solo Swing
layout: default
description: ""
---
{% include autres_cours.html param="soloswing" %}


<div class="row mb-5">
  <div class="col-12">
    <h1 class="text-center">Solo Swing</h1>
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/soloswing_page.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Donnez du "Groove" à votre danse&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <p>Le solo swing est la danse afro-américaine solo des années swing (1920-1940), descendant de certaines danses africaines et du charleston, contemporain du Lindy Hop et des claquettes.
            Le jazz roots inclut les danses (solo ou de groupe) des années swing comme le Shim Sham, le Big Apple, le Tranky Doo et intègre un grand nombre de pas issus du charleston. <br>
            Vous prendrez plaisir à vous défouler sur des musiques swing tout en améliorant votre style et votre gestuelle.
        </ul>
        </p>
      </h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='soloswing' %}
    {% include table_salles.html %}
  </div>
<!--  <div class="col-12 col-md-5">
    {% include debutant.html form="e/1FAIpQLScWdRlwVVMtxjw7nWLHqRUJEq6H-p2SdbikKOuGWOVC_hVgRQ" %}
    <br>
<!--    {% include reinscription.html %} -->
  </div>
</div>
