---
title: Les cours - Solo Latino
layout: default
description: ""
---
{% include autres_cours.html param="sololatino" %}


<div class="row">
  <div class="col-sm-8">
    <h2 class="danse-title">Solo Latino</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/sololatino_hover.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Bougez latino&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>Nous voulons tous améliorer notre gestuelle</li>
          <li>Énergie… Euphorie… Festif…</li>
          <li>Musicalité…</li>
          <li>Salsa, Bachata, Chacha, Reggaeton : que du soleil musical</li>
        </ul>
        </p>
      </h4>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-7">
    <table class="table-bordered table-horaires text-center">
      <tbody>
        <tr>
          <td>Mercredi</td>
          <td>20h</td>
          <td class="salleelvis">Salle Elvis</td>
          <td class="">à partir du 02 septembre 2020</td>
        </tr>
      </tbody>
    </table>
    {% include table_salles.html %}
  </div>
  <div class="col-sm-5">
    {% include reinscription.html %}
  </div>
</div>
