---
title: Les cours - Solo Swing
layout: default
description: ""
---
{% include autres_cours.html param="soloswing" %}


<div class="row mb-5">
  <div class="col-12">
    <h2 class="danse-title">Solo Swing</h2>
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/soloswing_hover.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Donnez du "Groove" à votre danse&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>Découvrez les routines diverses et variées</li>
          <li>Améliorez votre style et votre gestuelle</li>
          <li>Excellent pour la mémorisation</li>
          <li>Approfondissez votre musicalité</li>
          <li>Rock… Jazz… Blues… Un grand panel de musiques</li>
        </ul>
        </p>
      </h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='soloswing' %}
    {% include table_salles.html %}
  </div>
  <div class="col-12 col-md-5">
    {% comment %}
    {% include debutant.html form="e/1FAIpQLScWdRlwVVMtxjw7nWLHqRUJEq6H-p2SdbikKOuGWOVC_hVgRQ" %}
    {% endcomment %}
    <br>
    {% include reinscription.html %}
  </div>
</div>
