---
title: Les cours - Tango Argentin
layout: default
description: "Des cours de tango argentin, danse langoureuse, sensuelle et technique, sont proposés à l'école de danse Moioli. Vous y apprendrez aussi la milonga et la valse argentine."

categories:
  - tango
---

{% include autres_cours.html param="tango" %}

<div class="row mb-5">
  <div class="col-12">
    <h1 class="danse-title">Tango argentin</h1>
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/tango_hover.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;En trois mots : Harmonie, Complicité et Élégance.&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <p>Le tango est une danse populaire née à la fin du XIXe siècle originaire de Rio de la Plata.<br>
            Découvrez une danse d'improvisation et d'émotion qui laisse place à l'interprétation musicale. <br>
            Vous danserez également ses variantes que sont la valse et la milonga.
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='tango' %}
    {% include table_salles.html %}
  </div>
<!--  <div class="col-12 col-md-5">
  {% include debutant.html form="1-ryn5wvfRValrHvzUiOTRA1lj5k6PDIGddVvmzbQ7H8" %}
  </div> -->
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
<!--  <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div>  -->
</div>

<h3>Tarifs</h3>
{% include tarifs_tango.html %}
<h3>Les milongas</h3>
<p>
Bienvenue dans l'ambiance des Milongas où vous passerez un agréable moment de détente en vous imprégnant de la magie du tango argentin.
<br/>
<a href="{{ site.baseurl }}/cours/tango/milonga/" class="btn btn-link">
Qu'est-ce qu'une milonga ?
</a>
</p>
<p>
<a href="{{ site.baseurl }}/pdf/SE2.pdf" class="btn btn-default" target="_blank"><i class="fa fa-calendar"></i> Calendrier des milongas</a>
</p>
