---
title: WEST COAST SWING
layout: default
description: ""
---

{% include autres_cours.html param="westcoastswing" %}

<div class="row mb-5">
  <div class="col-12">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/westcoastswing_page.png" alt="image couple danseurs de west coast swing aka modern swing"class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;La danse dont vous ne pourrez plus vous passer !&nbsp;&raquo;
        </h4>
        <p>
        <ul>
        <p>Le West Coast Swing est une danse à deux de style swing, issue du Lindy Hop.<br>
        Très tendance aujourd’hui, elle laisse une grande part à l’improvisation et se pratique sur un vaste éventail de styles musicaux : Pop, funk, dance, country, jazz, blues, RnB, Hip-Hop...
        </p>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-12 col-md-7">
    {% include horaires_cours.html danse='westcoastswing' %}
    {% include table_salles.html %}
  </div>
  <div class="col-12 col-md-5">
  {% include debutant.html form="11SMLsw6stnu6CvwVSUa1-722Nyfgwmf6nIW16NQyGaQ" %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-12 col-md-5">
    {% include reinscription.html %}
  </div>
</div>
