---
title: Accueil
layout: home
categories:
  - home
---

<br>

<div class="row text-center justify-content-center">
  <div  class="col-12 col-sm-6  col-lg-4 m-5">
  {% include reinscription.html %}
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Et vous, vous dansez où ?</h3>
    <p>
    Bienvenue au <b>centre de danse Moioli</b>.
    </p>

    <p>
    Si vous habitez en Savoie, dans les environs de <b>Chambéry</b> ou <b>Aix-les-Bains</b> et si vous avez envie de danser en couple et de prendre des cours pour connaitre le <b><a href="{{ site.baseurl }}/cours/rock">Rock</a></b>, la <b><a href="{{ site.baseurl }}/cours/salsa">Salsa</a></b>, la <b><a href="{{ site.baseurl }}/cours/bachata">Bachata</a></b>, la <b><a href="{{ site.baseurl }}/cours/kizomba">Kizomba</a></b>, la <b><a href="{{ site.baseurl }}/cours/salon">Valse</a></b>, les <b><a href="{{ site.baseurl }}/cours/salon">Danses de salon</a></b>, le <b><a href="{{ site.baseurl }}/cours/lindy">Lindy Hop</a></b>, le <b><a href="{{ site.baseurl }}/cours/westcoastswing">West Coast Swing</a></b>, le <b><a href="{{ site.baseurl }}/cours/tango">Tango Argentin</a></b>, ou encore le <b><a href="{{ site.baseurl }}/cours/soloswing">Solo Swing</a></b>, nous vous invitons à parcourir ce site pour trouver toutes les infos dont vous avez besoin.
    </p>

    <p>
    De la danse ... de la musique ... du sport ... rien de tel pour prendre soin de son corps, entretenir sa forme physique et garder un bon moral au quotidien.
    </p>

    <p>
    Certains disent que dans cette école on se sent comme dans une grande famille. Il est presque certain que vous vous y sentirez bien vous aussi !
    </p>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <h3>L'école</h3>
    <p>
    C'est avant tout :

    <ul>
      <li>Une structure familiale,</li>
      <li>Un cadre et un espace chaleureux,</li>
      <li>Des horaires souples et nombreux,</li>
      <li>Des tarifs accessibles.</li>
    </ul>

    </p>
    <a href="{{ site.baseurl }}/visite/" class="btn btn-default" alt="Le centre">
      <span class="fa fa-arrow-right"></span>
      Visite de l'école
    </a>
  </div>
  <div class="col-sm-6">
    <h3>Les cours proposés</h3>

    <p>
    A l'école de danse Moioli, on vous propose les enseignements suivants :

    <ul>
      {% for danse in site.danses %}
      <li><a href="{{ site.baseurl }}/cours/{{ danse.name }}">{{ danse.title }}</a></li>
      {% endfor %}
    </ul>
    </p>
  </div>
</div>
