---
title: Les cours - Rock
layout: default
description: "Envie d'apprendre les danses de salon ? Dans ce cours, vous apprendrez le rock mais aussi la valse, le tango, le cha-cha et d'autres danses encore."

samedi: true

categories:
  - rock
---
{% include autres_cours.html param="rock" %}


<div class="row">
  <div class="col-sm-8">
    <h2 class="danse-title">Rock'n Roll</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/rock_hover.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Optez pour l'indémodable&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>La danse multi-générationnelle</li>
          <li>Du rythme, du swing, et de l'énergie</li>
          <li>Le plaisir de danser à deux</li>
          <li>Abordez aussi des notions de cha-cha et salsa</li>
        </ul>
        </p>
      </h4>
      </div>
    </div>
  </div>
</div>
<hr>
<h3>Cours débutants</h3>
<div class="row">
  <div class="col-sm-7">
    <table class="table-bordered table-horaires text-center">
      <tbody>
        <tr>
          <td>Lundi</td>
          <td>21h</td>
          <td class="salle1">Salle 1</td>
          <td class="">à partir du 21 septembre 2020</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>19h</td>
          <td class="salle3">Salle 3</td>
          <td class="">à partir du 23 septembre 2020</td>
        </tr>
      </tbody>
    </table>
    {% include table_salles.html %}
  </div>
  <div class="col-sm-5">
  {% include debutant.html form="13VlKhrG2A6RNrvpx-8tiWHfZpNzvW0A-9bmOgrhozys" %}
  </div>
</div>
<h3>Cours 2ème année et plus</h3>
<div class="row">
  <div class="col-sm-7">
    <p>Les cours de rock évolueront au fil des années vers le <strong>rock swing</strong>.</p>
    <ul>
      <li>6 niveaux de ROCK</li>
    </ul>
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-sm-5">
    {% include reinscription.html %}
  </div>
</div>
