---
title: Les cours - Rock Valse Tango Cha-cha
layout: default
description: "Envie d'apprendre les danses de salon ? Dans ce cours, vous apprendrez le rock mais aussi la valse, le tango, le cha-cha et d'autres danses encore."

samedi: true

categories:
  - rock

table1:
  lun_20_3: Débutant
  mar_19_3: Débutant
  jeu_18_3: Débutant
  ven_19_2: Débutant
  sam_11_1: Débutant

table2:
  lun_21_3: ROCK inter 1
  mer_20_3: ROCK inter 1
  jeu_19_3: ROCK inter 1
  lun_19_2: ROCK inter 2
  jeu_19_2: ROCK inter 2
  lun_20_1: Inter 3
  ven_20_1: Inter 3
  ven_20_2: ROCK avancé 1
  mer_19_2: ROCK avancé 2
  mer_21_3: SALON inter 1
  jeu_20_3: SALON inter 1
  lun_20_2: SALON inter 2
---
{% include autres_cours.html param="rock" %}


<div class="row">
  <div class="col-sm-8">
    <h2>Rock'n Roll, Valse, Cha-cha, Tango</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/rock.jpg" class="img-responsive center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Les danses que vous avez besoin de connaitre.&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          Idéales pour :
          <li>Découvrir le plaisir de danser à deux,</li>
          <li>Apprivoiser la musique et les rythmes,</li>
          <li>Inviter une danseuse avec assurance,</li>
          <li>Accepter une invitation en toute confiance.</li>
        </ul>
        </p>
      </strong></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  {% include debutant.html form="13VlKhrG2A6RNrvpx-8tiWHfZpNzvW0A-9bmOgrhozys" %}
  </div>
</div>
<hr>
<h3>Cours débutants</h3>
{% include planning_cours.html table=page.table1 %}
<h3>Cours 2ème année et plus</h3>
<p>À partir de la 2ème année, <strong>rock</strong> et <strong>danses de salon</strong> font l'objet de deux cours séparés.</p>
{% include planning_cours.html table=page.table2 %}
{% comment %}
{% include perfectionnement.html niveaux="6" %}
{% endcomment %}
