---
title: Les cours - Rock Valse Tango Cha-cha
layout: default

categories:
  - rock
---

{% include autres_cours.html param="rock" %}

<h2>Rock'n Roll, Valse, Cha-cha, Tango</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/rock.jpg" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <h4 style="color: #535353;">
      &laquo;&nbsp;Les danses que vous avez besoin de connaitre.&nbsp;&raquo;
    </h4>
    <p>
    <ul>
      Idéales pour :
      <li>Découvrir le plaisir de danser à deux,</li>
      <li>Apprivoiser la musique et les rythmes,</li>
      <li>Inviter une danseuse avec assurance,</li>
      <li>Accepter une invitation en toute confiance.</li>
    </ul>
    </p>
  </strong></h4>
  </div>
</div>
<hr>
<h3>Cours débutants</h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered middle" align="center">
      <tbody>
        <caption>
            Cours débutant / 1er cours <font color="#ff0000">sans engagement</font>
        </caption>
        <tr>
          <th scope="col" class="text-center">Jours</th>

          <th scope="col" class="text-center">Heures</th>

          <th scope="col" class="text-center">À partir du</th>
        </tr>
        <tr>
          <th scope="row">Lundi</th>
          <td class="text-center">19h à 20h</td>
          <td class="text-center">15 sept 2014</td>
        </tr>
        <tr>
          <th scope="row">Mardi</th>
          <td class="text-center">21h à 20h</td>
          <td class="text-center">16 sept 2014</td>
        </tr>
        <tr>
          <th scope="row">Mercredi</th>
          <td class="text-center">18h à 19h</td>
          <td class="text-center">17 sept 2014</td>
        </tr>
        <tr>
          <th scope="row">Jeudi</th>
          <td class="text-center">21h à 22h</td>
          <td class="text-center">18 sept 2014</td>
        </tr>
        <tr>
          <th scope="row">Samedi</th>
          <td class="text-center">10h à 11h</td>
          <td class="text-center">20 sept 2014</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% include tarifs.html param="debutant" %}
{% include perfectionnement.html niveaux="6" %}
{% include tarifs.html %}
