---
title: Les cours - Kizomba
layout: default
description: "L'école de danse Moioli vous propose des cours de kizomba. Une danse latino à la mode. Un bon moyen d'enrichir votre salsa."

categories:
  - latino
---

{% include autres_cours.html param="kizomba" %}

<div class="row">
  <div class="col-sm-8">
    <h2 class="danse-title">Kizomba</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/kizomba_hover.png" class="img-responsive center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Sensuelle et fusionnelle&nbsp;&raquo;
        </h4>
      </div>
      <div class="col-sm-8">
        <p>
        La KIZOMBA va enrichir fortement vos soirées Salsa car elle viendra compléter le panel de vos danses Latinos.
        </p>

        <p>
        Cette danse est très tendance depuis 2 à 3 années en Europe et déferle notamment en France. A la base, la KIZOMBA est un mélange entre le semba et le tango. Elle est d’ailleurs appelée à juste titre «tango d’ Afrique». Son voyage à travers différents continents l’on fait évoluer en y associant des pas d’influence latine.
        </p>

        <p>
        C’est une danse très sensuelle et fusionnelle que nous voulons enseigner aux amoureux des musiques Latinos.
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<h3>Cours débutants</h3>
<div class="row">
  <div class="col-sm-7">
    <table class="table-bordered table-horaires text-center">
      <tbody>
        <tr>
          <td>Lundi</td>
          <td>21h</td>
          <td class="salle3">Salle 3</td>
          <td class="">à partir du 17 Septembre 2018</td>
        </tr>
      </tbody>
    </table>
    {% include table_salles.html %}
  </div>
  <div class="col-sm-5">
  {% comment %}
  {% include debutant.html form="1LO3UlRaWAeLcS7vpjabqDTPCkVqVBQTQOASmruFKCJ0" %}
  {% endcomment %}
  </div>
</div>
<h3>Cours 2ème année et plus</h3>
<div class="row">
  <div class="col-sm-7">
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-sm-5">
    {% include reinscription.html %}
  </div>
</div>
