---
title: Les cours - Kizomba
layout: default
description: "L'école de danse Moioli vous propose des cours de kizomba. Une danse latino à la mode. Un bon moyen d'enrichir votre salsa."

categories:
  - latino
---

{% include autres_cours.html param="kizomba" %}

<h2>Kizomba</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/kizomba.jpg" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <h4 style="color: #535353;">
      &laquo;&nbsp;Sensuelle et fusionnelle&nbsp;&raquo;
    </h4>
  </div>
  <div class="col-sm-8">
    <p>
    La KIZOMBA va enrichir fortement vos soirées Salsa car elle viendra compléter le panel de vos danses Latinos.
    </p>

    <p>
    Cette danse est très tendance depuis 2 à 3 années en Europe et déferle notamment en France. A la base, la KIZOMBA est un mélange entre le semba et le tango. Elle est d’ailleurs appelée à juste titre «tango d’ Afrique». Son voyage à travers différents continents l’on fait évoluer en y associant des pas d’influence latine.
    </p>

    <p>
    C’est une danse très sensuelle et fusionnelle que nous voulons enseigner aux amoureux des musiques Latinos.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered middle" align="center">
      <tbody>
        <caption>
            Cours débutant / 1er cours <font color="#ff0000">sans engagement</font>
        </caption>
        <tr>
          <th scope="col" class="text-center">Jours</th>

          <th scope="col" class="text-center">Heures</th>

          <th scope="col" class="text-center">À partir du</th>
        </tr>
        <tr>
          <th scope="row">Vendredi</th>
          <td class="text-center">19h</td>
          <td class="text-center">19 sept 2014</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% include tarifs.html param="debutant" form="168xaM6L7NWepOKLPrbdDi_mBPDw_7D1RtxV5ucqLks4" %}
{% include perfectionnement.html tableau="kizomba" %}
{% include tarifs.html %}
