<h3>Actualités</h3>
<div class="row">
  <div  class="col-xs-12">
    <div class="alert alert-info">
      <!--<h4><span class="fa fa-exclamation-triangle"></span> Stage</h4>-->
      <p><strong>Nouveaux cours débutants</strong></p>
      <p>Janvier 2014</p>
      <p>C'est le moment de faire le premier pas !</p>
      <p class="text-center">
        <a href="{{ site.baseurl }}/cours/rock">Rock</a> / <a href="{{ site.baseurl }}/cours/salsa">Salsa</a>
      </p>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div  class="col-xs-12">
    <div class="alert alert-danger">
      <p><span class="fa fa-exclamation-triangle"></span> <strong>Nouveau à l'école !</strong></p>
      <h4 >Kizomba</h4>
      <a href="{{ site.baseurl }}/cours/kizomba" class="btn btn-danger pull-right">plus d'infos</a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div  class="col-xs-12">
    <div class="alert alert-success">
      <h4><strong>Tango argentin</strong></h4>
      <p><em><strong>Stage de technique</strong></em></p>
      <blockquote>&laquo; La conduite et la réactivité du couple &raquo;</blockquote>
      <p>Samedi 11 janvier</p>
      <a href="{{ site.baseurl }}/stage/stage_technique_tango_argentin" class="btn btn-success pull-right">plus d'infos</a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
