<h2>Actualités</h2>
<!--
<div class="row">
  <div  class="col-xs-12">
    <a class="alert alert-actu" href="">
      <h5><span class="fa fa-calendar"></span> Janvier 2014</h5>
      <h4>Nouveaux cours débutants</h4>
      <p>C'est le moment de faire le premier pas !</p>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
-->
<!--
{% if page.categories contains "home" or page.categories contains "latino" %}
<div class="row">
  <div class="col-xs-12">
    <a class="alert alert-actu" href="{{ site.baseurl }}/cours/kizomba">
      <h5><span class="fa fa-exclamation-triangle"></span> Nouveau à l'école</h5>
      <h4><strong>Kizomba</strong></h4>
      <p>Découvrez cette danse à la mode</p>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
{% endif %}
-->
{% comment %}
{% if page.categories contains "home" or page.categories contains "tango" %}
<div class="row">
  <div  class="col-xs-12">
    <a class="alert alert-actu contrast" href="{{ site.baseurl }}/stage/stage_technique_tango_argentin"
      style="background-image: url({{ site.baseurl }}/stage/stage_technique_tango_argentin_.jpg);">
      <h4><strong>Tango argentin</strong></h4>
      <h5>Stage de technique</h5>
      <p><span class="fa fa-calendar"></span> 21 juin 2014</h5>
      <p>&laquo; Medley rétrospectif des fondamentaux &raquo;</p>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
{% endif %}
{% endcomment %}
{% comment %}
{% if page.categories contains "home" or page.categories contains "rock" or page.categories contains "latino" %}
<div class="row">
  <div  class="col-xs-12">
    <a class="alert alert-actu" href="{{ site.baseurl }}/stage/stage_juin_2014"
      style="background-image: url({{ site.baseurl }}/stage/Stage-Juin-2014_.png);">
      <h4><strong>Stage de week-end</strong></h4>
      <h5>Lindy - Bachata - Kizomba</h5>
      <p><span class="fa fa-calendar"></span> 14 et 15 juin 2014</p>
      <p>&laquo; Un grand week-end très dansant &raquo;</p>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
{% endif %}
{% endcomment %}
{% comment %}
{% if page.categories contains "home" or page.categories contains "rock" %}
<div class="row">
  <div  class="col-xs-12">
    <a class="alert alert-actu" href="{{ site.baseurl }}/stage/stage_quick_step_juin_2014"
      style="background-image: url({{ site.baseurl }}/stage/Stage-Quick-step-2014_.png);">
      <h4><strong>Quick Step</strong></h4>
      <h5>Stage débutant</h5>
      <p><span class="fa fa-calendar"></span> 7, 14, 21 et 28 juin 2014</p>
      <p>&laquo; La danse qui pétille &raquo;</p>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
{% endif %}
{% endcomment %}
{% comment %}
{% if page.categories contains "home" or page.categories contains "rock" or page.categories contains "latino" %}
<div class="row">
  <div  class="col-xs-12">
    <a class="alert alert-actu contrast" href="{{ site.baseurl }}/stage/stage_juillet_2014"
      style="background-image: url({{ site.baseurl }}/stage/Stage-Juillet-2014_.png);">
      <h4><strong>1er grand stage de juillet</strong></h4>
      <h5>Rock - Salsa - Tango argentin</h5>
      <p><span class="fa fa-calendar"></span> du 30 juin au 4 juillet 2014</p>
      <p>&laquo; Pour vous débutants qui souhaitez danser cet été &raquo;</p>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
{% endif %}
{% endcomment %}
<div class="row">
  <div  class="col-xs-12">
    <a class="alert alert-actu" href=""
      style="background-image: url({{ site.baseurl }}/images/portes_ouvertes.jpg);">
      <h4><strong>Portes ouvertes</strong></h4>
      <h5>&nbsp;</h5>
      <p><span class="fa fa-calendar"></span> 13 et 14 sept 2014</h5>
      <p>Animations - Initiations</p>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
