<div class="row">
  <div class="col-xs-12">
    <p class="links text-right text-muted">
      {% if include.param != "salsa" %}
      <a href="{{ site.baseurl }}/cours/salsa" class="btn btn-sm btn-default"
         alt="Cours de salsa">
        Salsa
      </a>
      {% endif %}
      {% if include.param != "bachata" %}
      <a href="{{ site.baseurl }}/cours/bachata" class="btn btn-sm btn-default"
         alt="Cours de bachata">
        Bachata
      </a>
      {% endif %}
      {% if include.param != "kizomba" %}
      <a href="{{ site.baseurl }}/cours/kizomba" class="btn btn-sm btn-default"
         alt="Cours de kizomba">
        Kizomba
      </a>
      {% endif %}
      {% if include.param != "rock" %}
      <a href="{{ site.baseurl }}/cours/rock" class="btn btn-sm btn-default"
         alt="Cours de rock">
        Rock
      </a>
      {% endif %}
      {% if include.param != "salon" %}
      <a href="{{ site.baseurl }}/cours/salon" class="btn btn-sm btn-default"
         alt="Cours de danses de salon">
        Danses de salon
      </a>
      {% endif %}
      {% if include.param != "tango" %}
      <a href="{{ site.baseurl }}/cours/tango" class="btn btn-sm btn-default"
         alt="Cours de tango">
        Tango
      </a>
      {% endif %}
      {% if include.param != "lindy" %}
      <a href="{{ site.baseurl }}/cours/lindy" class="btn btn-sm btn-default"
         alt="Cours de lindy">
        Lindy-hop
      </a>
      {% endif %}
      {% if include.param != "westcoastswing" %}
      <a href="{{ site.baseurl }}/cours/westcoastswing" class="btn btn-sm btn-default"
         alt="Cours de west coast swing">
        West Coast Swing
      </a>
      {% endif %}
    </p>
  </div>
</div>
