<div class="row">
  {% for i in (1..8) %}
  <div class="col-md-3 text-center">
    <a href="{{ site.baseurl }}/cours/lindy" data-cours="lindy" data-role="cours">
      <img src="{{ site.baseurl }}/images/lindy.png" class="logo img-responsive">
    </a>
  </div>
  {% endfor %}
</div>
<!--
  <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-lg-3 text-center">
        <a href="{{ site.baseurl }}/cours/rock" data-cours="rock" data-role="cours">
          <h2>
            Rock<br><small>Cha-cha - Valse</small>
          </h2>
          <img src="{{ site.baseurl }}/images/rock.png" class="logo">
          <h6>En savoir plus</h6>
        </a>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-lg-3 col-lg-offset-1 text-center">
        <a href="{{ site.baseurl }}/cours/salsa" data-cours="salsa" data-role="cours">
          <h2>
            Salsa<br><small>Bachata</small>
          </h2>
          <img src="{{ site.baseurl }}/images/salsa.png" class="logo">
          <h6>En savoir plus</h6>
        </a>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-lg-3 col-lg-offset-1 text-center">
        <a href="{{ site.baseurl }}/cours/tango" data-cours="tango" data-role="cours">
          <h2>
            Tango argentin<br><small>&nbsp;</small>
          </h2>
          <img src="{{ site.baseurl }}/images/tango.png" class="logo">
          <h6>En savoir plus</h6>
        </a>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-lg-3 col-lg-offset-1 text-center">
        <a href="{{ site.baseurl }}/cours/lindy" data-cours="lindy" data-role="cours">
          <h2>
            Lindy Hop<br><small>Balboa</small>
          </h2>
          <img src="{{ site.baseurl }}/images/lindy.png" class="logo">
          <h6>En savoir plus</h6>
        </a>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-lg-3 col-lg-offset-1 text-center">
        <a href="{{ site.baseurl }}/cours/kizomba" data-cours="kizomba" data-role="cours">
          <h2>
            Kizomba<br><small>&nbsp;</small>
          </h2>
          <img src="{{ site.baseurl }}/images/kizomba.png" class="logo">
          <h6>En savoir plus</h6>
        </a>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-lg-3 col-lg-offset-1 text-center">
        <a href="{{ site.baseurl }}/cours/westcoastswing" data-cours="westcoast" data-role="cours">
          <h2>
            West Coast Swing<br class="hidden-lg"><small class="hidden-lg">&nbsp;</small>
          </h2>
          <img src="{{ site.baseurl }}/images/westcoast.png" class="logo">
          <h6>En savoir plus</h6>
        </a>
      </div>
  </div>
-->
