<h3>Cours particuliers</h3>
<p>
  Vous souhaitez apprendre à danser, vous perfectionner plus particulièrement dans une danse, réviser certaines figures déjà apprises ?
</p>
<p>
  <strong>Les cours particuliers sont la solution !</strong>
</p>
<ul>
  <li>Vous devez prendre rendez-vous à l'avance. Les cours ont lieu dans la journée.</li>
  <li>Les dates et les horaires sont à déterminer avec le professeur.</li>
  <li>Vous choisissez la ou les danses que vous souhaitez apprendre.</li>
</ul>
<div class="row justify-content-center">
  <div class="col-md-8">
    <table class="table table-responsive-sm middle bg-white">
      <thead class="thead-dark">
        <tr>
          <th rowspan="1" class="text-center">Cours particuliers</th>
          <th rowspan="1" class="text-center">1 heure<br> de cours</th>
          <th rowspan="1" class="text-center">Forfait 6h<br> de cours</th>
          <th rowspan="1" class="text-center">Forfait 12h<br> de cours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1 - 2 personnes</td>
          <td class="text-center">40 €</td>
          <td class="text-center">210 €</td>
          <td class="text-center">360 €</td>
        </tr>
      </tbody>
    </table>
    <caption colspan="4">Au delà de la 2ème personne : 10 €/heure en plus par personne.</caption>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p>
    Pour les cours particuliers, contactez directement
    <br>
    <b>Sylvain Moioli</b> au <i class="fa fa-phone"></i> 06 75 81 89 37
    - <a href="mailto:sylvain.moioli@gmail.com">sylvain.moioli@gmail.com</a>
    <br>
    ou
    <br>
    <b>Sara Manfredi</b> au <i class="fa fa-phone"></i> 06 34 45 21 97
    - <a href="mailto:sara.manfredi91@gmail.com">sara.manfredi91@gmail.com</a>.
    </p>
  </div>
</div>
