<h3>Pour débutants ou perfectionnement</h3>
<p>
  Si vous souhaitez apprendre à danser à deux et que les cours collectifs ne vous conviennent pas.<br>
  Ou si vous voulez vous perfectionner plus particulièrement dans une danse ou réviser certaines figures déjà apprises<br>
</p>
<p>
  <strong>Les cours particuliers sont la solution pour avancer à votre rythme !</strong>
</p>
<ul>
  <li>Vous devez prendre rendez-vous à l'avance.</li>
  <li>Les dates et les horaires sont à déterminer avec le professeur.</li>
  <li>Vous choisissez la ou les danses que vous souhaitez travailler.</li>
</ul>
<br>

<h3>Ouverture de bal</h3>
<p>
  Le grand jour approche et vous aimeriez surprendre vos invités ?<br>
  La première danse est un moment-clé et unique de votre mariage. Nous vous proposons de vous accompagner pour rendre ce moment magique et inoubliable.<br>
  Venez avec un projet de danse (Valse, Rock, Bachata...) ou de musique et nous vous guiderons pour atteindre vos objectifs.
</p>
<br>

<h3>Tarifs</h3>
<div class="row justify-content-center">
  <div class="col-md-8">
    <table class="table bg-white table-responsive-sm">
      <thead class="table-dark">
        <tr>
          <th>
          </th>
          <th class="text-center">
            Cours 1 heure
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="1" class="text-center text-muted">
            2 personnes
          </th>
          <td class="text-center">
            50 €
          </td>
        </tr>
      </tbody>
    </table>
    <caption>Au delà de la 2ème personne : 15 €/heure en plus par personne.</caption>
    <br>
    <caption>Option mariage 1 &laquo;&nbsp;<b>montage musique + chorégraphie personalisée</b>&nbsp;&raquo; : 150€</caption>
    <br>
    <caption>Option mariage 2 &laquo;&nbsp;<b>création Flashmob</b>&nbsp;&raquo; : 50€</caption>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p>
    Pour plus d'infos et prendre rendez-vous, merci de contacter :
    <br>
    <b>Sara Manfredi</b> au <i class="fa fa-phone"></i> 06 34 45 21 97
    - <a href="mailto:sara.manfredi91@gmail.com">sara.manfredi91@gmail.com</a>. <br><br>
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      <b>Nécessité d'avoir un ou une partenaire pour les cours</b><br>
      <span class="fa fa-exclamation-triangle" ></span>
      <b>Tout cours non décommandé 24h à l'avance sera facturé.</b>
    </p>
  </div>
</div>
