<p>
  Vous souhaitez apprendre à danser, vous perfectionner plus particulièrement dans une danse, réviser certaines figures déjà apprises ?<br>
  Votre mariage approche et vous voudriez ouvrir le bal avec une valse traditionnel, un rock endiablé ou une bachata romantique ?
</p>
<p>
  <strong>Les cours particuliers sont la solution pour avancer à votre rythme !</strong>
</p>
<ul>
  <li>Vous devez prendre rendez-vous à l'avance.</li>
  <li>Les dates et les horaires sont à déterminer avec le professeur.</li>
  <li>Vous choisissez la ou les danses que vous souhaitez travailler.</li>
</ul>
<div class="row justify-content-center">
  <div class="col-md-8">
    <table class="table table-responsive-sm middle bg-white">
      <thead class="table-dark">
        <tr>
          <th rowspan="1" class="text-center">Cours particuliers</th>
          <th rowspan="1" class="text-center">1 heure<br> de cours</th>
          <th rowspan="1" class="text-center">Forfait 6h<br> de cours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">pour 2 personnes</td>
          <td class="text-center">50 €</td>
          <td class="text-center">270 €</td>
        </tr>
      </tbody>
    </table>
    <caption colspan="4">Au delà de la 2ème personne : 12 €/heure en plus par personne.
      <br>Forfait valable pour la saison en cours (de septembre à juin)</caption>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p>
    Pour prendre rendez-vous, merci de contacter :
    <br>
    <b>Sara Manfredi</b> au <i class="fa fa-phone"></i> 06 34 45 21 97
    - <a href="mailto:sara.manfredi91@gmail.com">sara.manfredi91@gmail.com</a>. <br><br>
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      <b>Tout cours non décommandé 24h à l'avance sera facturé.</b>
    </p>
  </div>
</div>
