<div class="row">
  <div class="col-md-12">
    <h3>Cours débutants</h3>
    <p>
    Vous souhaitez apprendre à danser, plusieurs cours débutants vous sont proposés.
    </p>
    <p>
    Les cours débutent la semaine du <b>14 septembre</b>.
    </p>
    <p>
      <a href="https://docs.google.com/forms/d/{{ include.form }}/viewform" target="_blank" class="btn btn-primary" alt="Préinscription">
        <span class="fa fa-file-text-o"></span>
        Pré-inscription débutant
      </a>
    </p>
  </div>
</div>
