<div class="row">
  <div class="col-md-12">
    <div class="well">
    <h3>Cours débutants</h3>
    <p>
    Vous souhaitez apprendre à danser, plusieurs cours débutants vous sont proposés.
    </p>
    <p>
    Nouveaux cours débutant <b>septembre 2016</b>.
    </p>
    <p class="text-center">
      <a href="https://docs.google.com/forms/d/{{ include.form }}/viewform" target="_blank" class="btn btn-primary" alt="Préinscription">
        <span class="fa fa-file-text-o"></span>
        Pré-inscription
      </a>
    </p>
    <p class="alert alert-danger">
    Vous pouvez aussi venir découvrir l'école pendant les <a href="{{site.baseurl}}/actualites/portes_ouvertes/">portes ouvertes</a> !
    </p>
    </div>
  </div>
</div>
