<div class="row">
  <div class="col-md-12">
    <div class="well">
    <p>
    Vous souhaitez apprendre à danser, plusieurs cours débutants vous sont proposés.
    </p>
    <p>
    Nouveaux cours débutant <b>janvier 2020</b>.
    </p>
    <p class="text-center">
      <a href="https://docs.google.com/forms/d/{{ include.form }}/viewform" target="_blank" class="btn btn-primary" alt="Préinscription">
        <span class="fa fa-file-text-o"></span>
        Pré-inscription
      </a>
    </p>
    </div>
  </div>
</div>
