<section id="fitnessmoioli" class="fitnessmoioli">
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2 text-center">
      <!-- vide pour avoir un liseret gris foncé -->
    </div>
  </div>
</div>
</section>
<footer id="footer">
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <a href="https://www.facebook.com/pages/Centre-de-danse-Moioli/252512334846812">
        Suivez-nous sur <i class="fa fa-facebook-square"></i> facebook</a>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-4 col-xs-12">
      <h4>Pratique</h4>
      <a href="{{ site.baseurl }}/plan_acces">Plan d'accès</a><br>
      <a href="{{ site.baseurl }}/pdf/Reglement interieur janvier 2018 .pdf" target="_blank">Réglement intérieur</a><br>
      <a href="{{ site.baseurl }}/pdf/Agenda des cours saison 2017 2018.pdf" target="_blank">Dates de fermeture</a><br>
      <h4>Divers</h4>
      <a href="http://www.flickr.com/photos/dansemoioli/sets/" target="_blank" class="hidden-xs"><i class="fa fa-camera"></i> Album photo</a>
      <a href="http://m.flickr.com/photos/dansemoioli/sets/" target="_blank" class="visible-xs"><i class="fa fa-camera"></i> Album photo</a>
      <a href="{{ site.baseurl }}/playlists"><i class="fa fa-music"></i> Playlists</a><br>
    </div>
    <div class="col-sm-4 col-xs-12">
      <h4>Contact</h4>
      <address>
        <strong>Solange et Serge MOIOLI</strong><br>
        201 rue Charles Cabaud<br>
        73290 La Motte Servolex<br>
        <br>
        <i class="fa fa-phone"></i> 04 79 25 60 69<br>
        <a href="mailto:info@dansemoioli.com"><i class="fa fa-envelope-o"></i> info@dansemoioli.com</a>
      </address>
    </div>
  </div>
</div>
</footer>

  </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2449753-1', 'dansemoioli.com');
  ga('send', 'pageview');

</script>
</html>
