<footer id="footer">
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <a href="https://www.facebook.com/pages/Centre-de-danse-Moioli/252512334846812">
        Suivez-nous sur <i class="fa fa-facebook-square"></i> facebook</a>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-4 col-xs-12">
      <h4>Pratique</h4>
      <a href="{{ site.baseurl }}/plan_acces">Plan d'accès</a><br>
      <a href="{{ site.baseurl }}/images/reglement_interieur.pdf" target="_blank">Réglement intérieur</a><br>
      <a href="{{ site.baseurl }}/images/calendrier_2013_2014.pdf" target="_blank">Agenda des cours</a><br>
      <h4>Divers</h4>
      <a href="http://www.flickr.com/photos/dansemoioli/sets/" target="_blank" class="hidden-xs"><i class="fa fa-camera"></i> Album photo</a>
      <a href="http://m.flickr.com/photos/dansemoioli/sets/" target="_blank" class="visible-xs"><i class="fa fa-camera"></i> Album photo</a>
    </div>
    <div class="col-sm-4 col-xs-12">
      <h4>Contact</h4>
      <address>
        <strong>Solange et Serge MOIOLI</strong><br>
        201 rue Charles Cabaud<br>
        73290 La Motte Servolex<br>
        <br>
        <i class="fa fa-phone"></i> 04 79 25 60 69<br>
        <a href="mailto:info@dansemoioli.com"><i class="fa fa-envelope-o"></i> info@dansemoioli.com</a>
      </address>
    </div>
  </div>
</div>
</footer>

  </body>

</html>
