
    </div>
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-6">
          Suivez-nous sur facebook
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-4 col-xs-6">
          <h4>Pratique</h4>
          <a href="/plan/">Plan d'accès</a><br>
          <a href="#">Réglement intérieur</a><br>
          <a href="#">Agenda des cours</a><br>
          <h4>Divers</h4>
          <a href="#">Album photo</a>
        </div>
        <div class="col-sm-4 col-xs-6">
          <h4>Contact</h4>
          <address>
            <strong>Solange et Serge MOIOLI</strong><br>
            201 rue Charles Cabaud<br>
            73290 La Motte Servolex<br>
            <br>
            04 79 25 60 69<br>
            <a href="mailto:#">info@dansemoioli.com</a>
          </address>
        </div>
      </div>
    </div>
    </footer>

  </body>
</html>
