<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }} - Cours de rock, salsa, tango à Chambéry Savoie - {{ page.title }}</title>
    <link href="http://www.dansemoioli.com/favicon.ico?v=2" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="u-ScOHaEIXT46sQfaW7vOPclarkC-C3Oj9B2HFMeiI8" />


    <link href="{{ site.baseurl }}/css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery-1.10.1.min.js"></script>
    <script src="{{ site.baseurl }}/bootstrap/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]><script src="./docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
    
    <body class="{{ page.categories }}">
      <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          Menu
          <span class="caret"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/images/logo.png" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.baseurl }}/">Accueil</a></li>
          <li><a href="{{ site.baseurl }}/visite/">Visite</a></li>
          <li><a href="{{ site.baseurl }}/cours/">Cours</a></li>
          <li><a href="{{ site.baseurl }}/actualites/">Actualités</a></li>
          <li><a href="{{ site.baseurl }}/tarifs/">Tarifs</a></li>
          <li><a href="{{ site.baseurl }}/soirees/">Soirées</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </nav>
