<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }} - Cours de rock, salsa, tango à Chambéry Savoie - {{ page.title }}</title>
    <link href="http://www.dansemoioli.com/favicon.ico?v=2" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="u-ScOHaEIXT46sQfaW7vOPclarkC-C3Oj9B2HFMeiI8" />


    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery-1.10.1.min.js"></script>
    <script src="{{ site.baseurl }}/bootstrap-sass-3.3.6/assets/javascripts/bootstrap.min.js"></script>

    <!--[if lt IE 9]><script src="./docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>

    <body class="{{ page.categories }}">
      <nav class="navbar navbar-default" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          Menu
          <span class="caret"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/images/logo.png" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.baseurl }}/">Accueil</a></li>
          <li><a href="{{ site.baseurl }}/visite/">Visite</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cours <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for danse in site.danses %}
              <li><a href="{{ site.baseurl }}/cours/{{ danse.name }}">{{ danse.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/tarifs/">Tarifs</a></li>
          <li><a href="{{ site.baseurl }}/soirees/">Soirées</a></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stages <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/stage/stage_juin_2018">Swing break</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Infos <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/plan_acces">Plan d'accès</a></li>
              <li><a href="{{ site.baseurl }}/pdf/Reglement interieur septembre 2018.pdf" target="_blank">Réglement intérieur</a></li>
              <li><a href="{{ site.baseurl }}/pdf/Agenda des cours saison 2017 2018.pdf" target="_blank">Dates de fermeture</a></li>
              <li><a href="http://www.flickr.com/photos/dansemoioli/sets/" target="_blank" class="hidden-xs"><i class="fa fa-camera"></i> Album photo</a></li>
              <li><a href="http://m.flickr.com/photos/dansemoioli/sets/" target="_blank" class="visible-xs"><i class="fa fa-camera"></i> Album photo</a></li>
            </ul>
          </li>
        </ul>
      </div>
      </div><!-- /.navbar-collapse -->
      </nav>
