<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }} - Cours de rock, salsa, tango à Chambéry Savoie - {{ page.title }}</title>
    <link href="{{ site.baseurl }}/favicon.ico?v=2" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="u-ScOHaEIXT46sQfaW7vOPclarkC-C3Oj9B2HFMeiI8" />


    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/52029ad74b.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery-3.5.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.bundle.min.js"></script>
    </head>

    <body class="{{ page.categories }}">
      <header class="container-fluid container-dark">
        <nav class="navbar navbar-default navbar-expand-lg">
          <div class="container flex-lg-column">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/images/logo.png" />
            </a>
            <button class="navbar-toggler dropdown-toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/visite/">Visite</a>
                </li>
                <li class="dropdown nav-item">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cours collectifs</a>
                  <div class="dropdown-menu">
                    {% for danse in site.danses %}
                    <a class="dropdown-item" href="{{ site.baseurl }}/cours/{{ danse.name }}">{{ danse.title }}</a>
                    {% endfor %}
                  </div>
                </li>
                <li class="dropdown nav-item">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cours privés</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ site.baseurl }}/cours_prives/cours_particuliers">Cours particuliers</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/cours_prives/mariage">Mariage</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/cours_prives/enterrementviejfg">Enterrement de vie JF/G</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/cours_prives/seminaire_entreprise">Séminaire entreprise</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/tarifs/">Tarifs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/soirees/">Soirées</a>
                </li>
                <li class="dropdown nav-item">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stages </a>
                  <div class="dropdown-menu">
                    {% assign sorted_stages = (site.pages | sort: 'date') %}
                    {% for page in sorted_stages %}
                    {% if page.layout == 'stage' %}
                    {% capture mois %}
                    {% assign m = page.date | date: "%-m" %}
                    {% case m %}
                    {% when '1' %}Janvier
                    {% when '2' %}Février
                    {% when '3' %}Mars
                    {% when '4' %}Avril
                    {% when '5' %}Mai
                    {% when '6' %}Juin
                    {% when '7' %}Juillet
                    {% when '8' %}Août
                    {% when '9' %}Septembre
                    {% when '10' %}Octobre
                    {% when '11' %}Novembre
                    {% when '12' %}Décembre
                    {% endcase %}
                    {% endcapture %}
                    <a class="dropdown-item" href="{{ page.url }}">{{ page.title }} - {{ mois }} {{ page.date | date: "%-Y" }}</a>
                    {% endif %}
                    {% endfor %}
                  </div>
                </li>
                <li class="dropdown nav-item">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Infos </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ site.baseurl }}/plan_acces"><i class="fa fa-map-marked-alt"></i> Plan d'accès</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/pdf/Reglement interieur septembre 2020.pdf" target="_blank"><i class="fa fa-gavel"></i> Réglement intérieur</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/pdf/Protocole sanitaire sept 2020.pdf" target="_blank"><i class="fa fa-stethoscope"></i> Protocole sanitaire</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/pdf/Agenda des cours saison 2020 2021.pdf" target="_blank"><i class="fa fa-calendar"></i> Dates de fermeture</a>
                    <a class="dropdown-item d-none d-sm-block" href="http://www.flickr.com/photos/dansemoioli/sets/" target="_blank"><i class="fa fa-camera"></i> Album photo</a>
                    <a class="dropdown-item d-sm-none" href="http://m.flickr.com/photos/dansemoioli/sets/" target="_blank"><i class="fa fa-camera"></i> Album photo</a>
                    <a class="dropdown-item" href="https://www.youtube.com/channel/UC8XGA0xVs1H5CJhdAOhGcXg/playlists" target="_blank"><i class="fa fa-music"></i> Playlists</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
<script>
$(window).scroll(function(){
  if ($(this).scrollTop() > 0) {
    $(document.body).addClass('scroll');
  } else {
    $(document.body).removeClass('scroll');
  }
});
</script>
