<table class="table bg-white">
  <thead class="table-dark">
    <tr>
      <th class="">Niveau</th>
      <th>Jour / Heure</th>
      <th class="">Salle</th>
    </tr>
  </thead>
  <tbody>
    {% for danse in site.danses %}
      {% if include.danse == danse.name %}
        {% for cours in danse.cours %}
        <tr>
          <td>
            {{ cours[0] }}
          </td>
          <td class="">
            <span class="text-nowrap">
              {{ cours[1] }}
            </span>
          </td>
          <td class="">
            <em>
              {{ cours[2] }}
            </em>
          </td>
        </tr>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
