<div class="row">
  <div class="col-sm-12">
    <p class="text-danger">
      <span class="fa fa-exclamation-triangle" ></span>
      Avant votre inscription, un <b>cours d'essai</b> vous est proposé <b>sans engagement</b>.
    </p>
      <span class="fa fa-exclamation-triangle" ></span>
        Nous proposons cette année pour éviter d’avoir des cours à rattraper, un règlement Trimestriel <b>UNIQUEMENT</b>, en 3 chèques (ou plus si plusieurs cours par semaine, voir détails ci-dessous) retirés en 3 fois en début de chaque mois.
      </p>
      <ul>
        <li>En cas de fermeture administrative de plus d’un mois, nous vous rendrons les chèques comme nous l’avons fait cette année.</li>
        <li>En avril, si tout s’est bien passé, vous réglerez la différence entre le tarif annuel et les deux trimestres déjà réglés.</li>
      </ul>
    <p><span class="fa fa-exclamation-triangle"></span> Les cotisations sont dues en <b>début</b> de chaque période (saison, trimestre).</p>
    <p class="">
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Aucun remboursement ne sera fait en cas d'absence ou d'arrêt quelle qu'en soit la cause.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Le forfait saison comprend un minimum de 30 cours.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Le forfait trimestriel comprend un minimum de 10 cours.
    </p>
  </div>
</div>
