<div class="row">
  <div class="col-sm-12">
    <br><br>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Avant votre inscription, un <b>cours d'essai gratuit</b> vous est proposé <b>sans engagement</b>.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Le forfait saison comprend un minimum de 30 cours. Le forfait trimestriel comprend un minimum de 10 cours.<br>
      Si le nombre de cours est supérieur vous en êtes les grands bénéficiaires.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Les cotisations sont dues en début de chaque période (saison, trimestre).
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      TARIFS RÉDUITS (étudiants, chômeurs): 10% de réduction sur le forfait choisi sur présentation d'un justificatif.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Aucun remboursement ne sera fait en cas d'absence ou d'arrêt quelle qu'en soit la cause.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Forfait cours particuliers valable pour la saison en cours (de septembre à juin).
    </p>
  </div>
</div>
