<div class="row">
  <div class="col-sm-12">
    <p class="text-danger">
      <span class="fa fa-exclamation-triangle" ></span>
      Avant votre inscription, un <b>cours d'essai</b> vous est proposé <b>sans engagement</b>.
    </p>
    <p><span class="fa fa-exclamation-triangle"></span> Les cotisations sont dues en <b>début</b> de chaque période (saison, trimestre).</p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Possibilité de fractionner le réglement du forfait saison.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Aucun remboursement ne sera fait en cas d'absence ou d'arrêt quelle qu'en soit la cause.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Le forfait saison comprend 30 cours.
    </p>
    <p class="">
      <span class="fa fa-exclamation-triangle" ></span>
      Le forfait trimestriel comprend 10 cours.
    </p>
  </div>
</div>
