<div class="row">
  <div class="col-md-6">
    <h3>Cours perfectionnement</h3>
    <p>
    {% if include.tableau != "kizomba" and include.tableau != "lindy" and include.tableau != "tango" %}
    Vous savez déjà danser ?<br>
    <strong>{{ include.niveaux }} niveaux de cours</strong> perfectionnement vous sont aussi proposés tout au long de la semaine.
    {% endif %}
    </p>
    <p>
    Remplissez ce <a href="https://docs.google.com/forms/d/16-Rapk5QR5m65fS3ih5t8rS5vMS39R3Cw0-oTDpfxSE/viewform" target="_blank" class="btn btn-link"><span class="fa fa-file-text-o"></span> formulaire</a> pour nous donner plus de renseignements sur vous mêmes.
    Nous saurons vous orienter vers le cours qu'il vous faut.<br />
    </p>
  </div>
</div>
