{% assign salles = '1,2,3' | split: ',' %}
{% assign horaires = '18,19,20,21' | split: ',' %}
{% assign jours = 'lun,mar,mer,jeu,ven' | split: ',' %}
{% for salle in salles %}
{% endfor %}
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>lundi</th>
            <th>mardi</th>
            <th>mercredi</th>
            <th>jeudi</th>
            <th>vendredi</th>
            {% if page.samedi %}
            <th></th>
            <th>samedi</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <!-- 18h -->
          {% for horaire in horaires %}
            {% for salle in salles %}
              <tr>
                {% if salle=='1' %}
                  <th rowspan="3">{{horaire}}h</th>
                {% endif %}
                {% for jour in jours %}
                  {% capture jour_salle %}{{jour}}_{{horaire}}_{{salle}}{% endcapture %}
                  <td class="salle{{salle}}">{{ include.table[jour_salle] }}</td>
                {% endfor %}
                {% if page.samedi %}
                  {% capture horaire_samedi %}{{horaire | minus:8 }}{% endcapture %}
                  {% if horaire != '20' and horaire != '21' %}
                    {% if salle=='1' %}
                      <th rowspan="3">{{horaire_samedi}}h</th>
                    {% endif %}
                    {% capture jour_salle %}sam_{{horaire_samedi}}_{{salle}}{% endcapture %}
                    <td class="salle{{salle}}">{{ include.table[jour_salle] }}</td>
                  {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
            {% capture isLast %}{{forloop.last}}{% endcapture %}
            {% if isLast == 'false' %}
            <tr>
              {% if page.samedi and horaire != '20' and horaire != '21' %}
              <th colspan="8"></th>
              {% else %}
              <th colspan="6"></th>
              {% endif %}
            <tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include table_salles.html %}
<script>
  $("table table td:contains('DÉBUTANT (')").addClass("deb");
</script>
