<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>lundi</th>
            <th>mardi</th>
            <th>mercredi</th>
            <th>jeudi</th>
            <th>vendredi</th>
            {% if page.samedi %}
            <th></th>
            <th>samedi</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <!-- 18h -->
          <tr>
            <th>18h</th>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.lun_18_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.lun_18_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.lun_18_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.mar_18_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.mar_18_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.mar_18_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.mer_18_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.mer_18_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.mer_18_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.jeu_18_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.jeu_18_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.jeu_18_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.ven_18_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.ven_18_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.ven_18_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            {% if page.samedi %}
            <th>10h</th>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.sam_10_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.sam_10_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.sam_10_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            {% endif %}
          </tr>
          <!-- 19h -->
          <tr>
            <th>19h</th>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.lun_19_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.lun_19_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.lun_19_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.mar_19_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.mar_19_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.mar_19_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.mer_19_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.mer_19_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.mer_19_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.jeu_19_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.jeu_19_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.jeu_19_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.ven_19_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.ven_19_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.ven_19_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- 20h -->
          <tr>
            <th>20h</th>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.lun_20_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.lun_20_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.lun_20_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.mar_20_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.mar_20_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.mar_20_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.mer_20_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.mer_20_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.mer_20_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.jeu_20_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.jeu_20_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.jeu_20_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.ven_20_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.ven_20_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.ven_20_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- 21h -->
          <tr>
            <th>21h</th>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.lun_21_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.lun_21_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.lun_21_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.mar_21_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.mar_21_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.mar_21_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.mer_21_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.mer_21_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.mer_21_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.jeu_21_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.jeu_21_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.jeu_21_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="salle1">
                    <td>{{ page.ven_21_1 }}</td>
                  </tr>
                  <tr class="salle2">
                    <td>{{ page.ven_21_2 }}</td>
                  </tr>
                  <tr class="salle3">
                    <td>{{ page.ven_21_3 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include table_salles.html %}
<script>
  $("table table td:contains('DÉBUTANT (')").addClass("deb");
</script>
