<!-- Responsive slider - START -->
<div class="fluidHeight">
<div class="sliderContainer home">
  <div class = 'iosSlider'>
    <div class = 'slider'>
    </div>

    <a class="slider-control prev" >&lt;</a>
    <a class="slider-control next" >&gt;</a>

    <div class="pages">
    </div>
  </div>
</div>
</div>

<script src="{{ site.baseurl }}/js/jquery.iosslider.min.js"></script>
<script type="text/javascript">
  var baseurl = "{{ site.baseurl }}";
  /**
   * Randomize array element order in-place.
   * Using Fisher-Yates shuffle algorithm.
   */
  function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
    return array;
  }

  $(document).ready(function() {
    var doc = $(document);
    var size = (Math.min(doc.width(), doc.height()) <= 768) ?
      '-small' : '';

    var files = [
      [10, "left", "", "", "stage/stage_mars_2016"]
      //[7, "left", "Journées Portes Ouvertes", "Évènement à ne pas manquer", "/actualites/portes_ouvertes"],
      //[1, "left", "Un cadre chaleureux", "Deux salles"],
      //[7, "left", "Journées Portes Ouvertes", "Évènement à ne pas manquer", "/actualites/portes_ouvertes"],
      //[3, "left", "Générosité et savoir-faire", "Donner et transmettre notre passion"],
      //[4, "left", "Partage et convivialité", "Nos valeurs"],
      //[9, "left", "L'Annexe", ""],
      //[8, "left", "", ""],
      //[2, "left", "Émotion et spontanéité", "Le plaisir avant tout"],
    ];
    // files = shuffleArray(files);
    for (var i = 0; i < files.length; i++) {
      var file = files[i][0];
      var image = $('<img />', {
        src: baseurl + '/images/slide-' + file + size + '.jpg'
      });
      var item = $('<div/>', {
        'class': 'item'
      });
      var inner = $('<div/>', {
        'class': 'inner'
      });
      item.append(inner);
      inner.append(image);
      if (files[i][4]) {
        image.css('cursor', 'pointer');
        function onclick(url) {
          window.location = url;
        }
        image.on('click', $.proxy(onclick, null, files[i][4]));
      }

      if (files[i][2]) {
        inner.append($('<div />', {
            "class": "text1 " + files[i][1],
            html: files[i][2]
        }));
      }
      if (files[i][3]) {
        inner.append($('<div />', {
            "class": "text2 " + files[i][1],
            html: files[i][3]
        }));
      }

      $('.iosSlider .slider').append(item);
      $('.iosSlider .pages').append($('<a />', {
        'class': 'page'
      }));
    }

    $('.pages .page').first().addClass('active');

    $('.iosSlider').iosSlider({
      autoSlide: true,
      snapToChildren: true,
      desktopClickDrag: true,
      keyboardControls: true,
      navNextSelector: $('.next'),
      navPrevSelector: $('.prev'),
      navSlideSelector: $('.pages .page'),
      onSlideChange: slideChange,
      infiniteSlider: true,
      autoSlideTimer: 5000,
      onSlideComplete: slideComplete,
      onSliderLoaded: sliderLoaded,
      onSlideChange: slideChange,
      snapSlideCenter: true,
      autoSlideHoverPause: false
    });
    function slideComplete(args) {
      if(!args.slideChanged) return false;
      showText(args);
    }
    function sliderLoaded(args) {
      showText(args);
      slideChange(args);
    }
    function showText(args) {
      $(args.sliderObject).find('.text1, .text2').removeClass('display');
      $(args.currentSlideObject).find('.text1').delay(1600).queue(function(next) {
        $(this).addClass('display');
        next();
      });
      $(args.currentSlideObject).find('.text2').delay(2800).queue(function(next) {
        $(this).addClass('display');
        next();
      });
    }
  });

  function slideChange(args) {
    $('.pages .page').removeClass('active');
    $('.pages .page:eq(' + (args.currentSlideNumber - 1) + ')').addClass('active');
  }
</script>
