<!-- Responsive slider - START -->
<div class="fluidHeight">
<div class="sliderContainer home">
  <div class = 'iosSlider'>
    <div class = 'slider'>
    </div>

    <a class="slider-control prev" >&lt;</a>
    <a class="slider-control next" >&gt;</a>

    <div class="pages">
    </div>
  </div>
</div>
</div>

{% assign stages = site.pages | where: 'layout','stage' %}
<script>
  var stages = {{ stages | jsonify }};
</script>

<script src="{{ site.baseurl }}/js/jquery.iosslider.min.js"></script>
<script type="text/javascript">
  var baseurl = "{{ site.baseurl }}";
  /**
   * Randomize array element order in-place.
   * Using Fisher-Yates shuffle algorithm.
   */
  function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
    return array;
  }

  $(document).ready(function() {
    var doc = $(document);

    // tableau contenant les infos pour le slider
    // [index, position, titre1, titre2, préfixe des images, cible du lien, format d'image (jpeg, gif)]
    var files = [];

    files = files.concat([
      // [1, "left", "", "", '/images/rentree_janvier_2020', "/actualites/nouveaux_cours_janvier_2020"],
      // [1, "left", "", "", '/images/latino', "/cours/salsa"],
      // [4, "left", "", "", '/images/rock', "/cours/rock"],
      // [2, "left", "", "", '/images/tango', "/cours/tango"],
      // [3, "left", "", "", '/images/wcs', "/cours/westcoastswing"],
      // [5, "left", "", "", '/images/lindy', "/cours/lindy"]
      // [27, "left", "", "", '/images/slide-27', "/actualites/portes_ouvertes"]
      // [9, "left", "L'Annexe", "", '/images/slide-9'],
      // [4, "left", "Partage et convivialité", "Nos valeurs", 'images/slide-4'],
      // [8, "left", "", "", 'images/slide-8'],
      // [3, "left", "Générosité et savoir-faire", "Donner et transmettre notre passion", 'images/slide-3'],
      // [18, "left", "", "", '/images/slide-18', "/actualites/portes_ouvertes"],
      // [1, "left", "", "", '/images/rentree_janvier_2019', "/actualites/nouveaux_cours_janvier_2019"],
      // [1, "left", "Un cadre chaleureux", "Trois salles", 'images/slide-1'],
      // [18, "left", "", "", '/images/slide-18', "/actualites/portes_ouvertes"],
      // [1, "left", "", "", '/images/rentree_janvier_2019', "/actualites/nouveaux_cours_janvier_2019"],
      // [2, "left", "Émotion et spontanéité", "Le plaisir avant tout", 'images/slide-2']
      // [1, "left", "", "", 'images/BS Rock', '/cours/rock'],
      // [1, "left", "", "", 'images/BS Latino', '/cours/salsa'],
      // [1, "left", "", "", 'images/BS Lindy hop', '/cours/lindy'],
      // [1, "left", "", "", 'images/BS Tango', '/cours/tango'],
      // [1, "left", "", "", 'images/BS WCS', '/cours/westcoastswing'],
       [1, "left", "", "", 'images/BS Swing',],
       [1, "left", "", "", 'images/BS Salle',],
       [1, "left", "", "", 'images/BS Hall',],
       //[1, "left", "", "", 'images/BS janvier 2022',],
    ]);

  files = shuffleArray(files);

    // Ajout des stages en premier

    if (stages) {
      files = stages
        .sort(function(a, b) {
           return a.date < b.date ? -1 : 1;
         })
        .filter(function(stage) {
          return stage.form
        })
        .map(function(stage, index) {
          var file = [index, 'left', "", "", 'stage/' + stage.assets + '_slider', stage.url];
          if (stage.format_slider) {
            file.push(stage.format_slider);
          }
          return file;
        })
        .concat(files);
    }


   // Ajout de slides en premier


    files = [
      // [1, "left", "", "", '/images/BS janvier 2022',],
    ].concat(files);



    for (var i = 0; i < files.length; i++) {
      var file = files[i][0];
      var imageSrc = baseurl + files[i][4]
      imageSrc += files[i][6] || '.jpg';
      var image = $('<img />', {
        src: imageSrc
      });
      var item = $('<div/>', {
        'class': 'item'
      });
      var inner = $('<div/>', {
        'class': 'inner'
      });
      item.append(inner);
      inner.append(image);
      if (files[i][5]) {
        image.css('cursor', 'pointer');
        function onclick(url) {
          window.location = url;
        }
        image.on('click', $.proxy(onclick, null, files[i][5]));
      }

      if (files[i][2]) {
        inner.append($('<div />', {
            "class": "text1 " + files[i][1],
            html: files[i][2]
        }));
      }
      if (files[i][3]) {
        inner.append($('<div />', {
            "class": "text2 " + files[i][1],
            html: files[i][3]
        }));
      }

      $('.iosSlider .slider').append(item);
      $('.iosSlider .pages').append($('<a />', {
        'class': 'page'
      }));
    }

    $('.pages .page').first().addClass('active');

    $('.iosSlider').iosSlider({
      autoSlide: true,
      snapToChildren: true,
      desktopClickDrag: true,
      keyboardControls: true,
      navNextSelector: $('.next'),
      navPrevSelector: $('.prev'),
      navSlideSelector: $('.pages .page'),
      onSlideChange: slideChange,
      infiniteSlider: true,
      autoSlideTimer: 5000,
      onSlideComplete: slideComplete,
      onSliderLoaded: sliderLoaded,
      onSlideChange: slideChange,
      snapSlideCenter: true,
      autoSlideHoverPause: false
    });
    function slideComplete(args) {
      if(!args.slideChanged) return false;
      showText(args);
    }
    function sliderLoaded(args) {
      showText(args);
      slideChange(args);
    }
    function showText(args) {
      $(args.sliderObject).find('.text1, .text2').removeClass('display');
      $(args.currentSlideObject).find('.text1').delay(1600).queue(function(next) {
        $(this).addClass('display');
        next();
      });
      $(args.currentSlideObject).find('.text2').delay(2800).queue(function(next) {
        $(this).addClass('display');
        next();
      });
    }
  });

  function slideChange(args) {
    $('.pages .page').removeClass('active');
    $('.pages .page:eq(' + (args.currentSlideNumber - 1) + ')').addClass('active');
  }
</script>
