<div class="row text-muted small align-items-center">
  <div class="col">
    <div class="text-center">
      <span class="border border-secondary rounded px-3 text-nowrap">
        salle Foo
      </span>
    </div>
    <div class="text-center">
      École<br><em><small>201 rue Charles Cabaud</small></em>
    </div>
  </div>
  <div class="col border-left">
    <div class="row">
      <div class="col justify-content-between text-center">
        <span class="border border-secondary rounded px-3 d-inline-block text-nowrap">
          salle Bar
        </span>
        <span class="border border-secondary rounded px-3 d-inline-block text-nowrap">
          salle Dude
        </span>
      </div>
    </div>
    <div class="text-center">
      Annexe<br><em><small>401 rue des Champagnes</small></em>
    </div>
  </div>
  <div class="col">
    <a href="{{ site.baseurl }}/plan_acces" class="btn btn-link btn-sm">
      <span class="fa fa-info-circle"></span> Voir sur le plan
    </a>
  </div>
</div>
