<br>
<table class="table caption small">
  <tbody>
    <tr>
      <td>
        <div class="text-center salle salle1">salle 1</div>
      </td>
      <td class="text-left">
        <span class="fa fa-arrow-right"></span>
        École<br><em><small>201 rue Charles Cabaud</small></em>
      </td>
      <td rowspan="2">
        <a href="{{ site.baseurl }}/plan_acces" class="btn btn-link btn-xs">
          <span class="fa fa-info-circle"></span> Plan des salles
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-center salle salle2">salle 2</div><div class="text-center salle salle3">salle 3</div>
      </td>
      <td class="text-left">
        <span class="fa fa-arrow-right"></span>
        Annexe<br><em><small>401 rue des Champagnes</small></em>
      </td>
    </tr>
  </tbody>
</table>
