<div class="row text-muted small mb-4">
  <div class="col">
    <div class="text-center">
      École <em><small>201 rue Charles Cabaud</small></em>
    </div>
    <div class="text-center">
      <span class="border border-secondary rounded px-3 text-nowrap">
        Salle Pugliese
      </span>
    </div>
  </div>
  <div class="col border-left">
    <div class="text-center">
      Annexe <em><small>401 rue des Champagnes</small></em>
    </div>
    <div class="row">
      <div class="col justify-content-between text-center">
        <span class="border border-secondary rounded px-3 d-inline-block text-nowrap">
          Salle Compay
          <br>
          & Salle Elvis
        </span>
      </div>
    </div>
  </div>
  <div class="col">
    <a href="{{ site.baseurl }}/plan_acces" class="btn btn-link btn-sm">
      <span class="fa fa-info-circle"></span> Voir sur le plan
    </a>
  </div>
</div>
