<div class="row justify-content-center">
  <div class="col-md-8">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th rowspan="1" class="text-center text-muted">
            Durée du cours
          </th>
          <th rowspan="1" scope="col" class="text-center">Forfait<br>Saison</th>
          <th rowspan="1" scope="col" class="text-center">Forfait<br>Trimestre</th>
        </tr>
        <tr class="spacer">
          <td rowspan="1" colspan="3"></td>
        </tr>
        <tr>
          <th colspan="1" class="text-center">1 cours / semaine<br><small>1 h <em>(débutants)</em></small></th>
          <td colspan="1" align="center">288 €</td>
          <td rowspan="1" align="center">118 €</td>
        </tr>
        <tr>
          <th colspan="1" class="text-center">1 cours / semaine<br><small>1 h 30</small></th>
          <td colspan="1" align="center">372 €</td>
          <td rowspan="1" align="center">142 €</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
