<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th rowspan="1" class="text-center text-muted">
            Durée du cours
          </th>
          <th rowspan="1" scope="col" class="text-center">Forfait<br>Saison</th>
          <th rowspan="1" scope="col" class="text-center">Forfait<br>Trimestre</th>
        </tr>
        <tr class="spacer">
          <td rowspan="1" colspan="3"></td>
        </tr>
        <tr>
          <th colspan="1" class="text-center">1 cours<br><small>1 h 30</small></th>
          <td colspan="1" align="center">374 €</td>
          <td rowspan="1" align="center">140 €</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
