$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 16px;

$link-color: #DA5102;
$link-hover-color: #9A3800;
$color2: #FFCC00;
$color3: #FC9303;

$body-bg: #f5f5f5;

/*$navbar-default-bg: #E04B00;*/
/*$navbar-default-bg: #FC9303;*/
$navbar-border-radius: 0;
$navbar-default-color: $link-color;
$navbar-default-link-color: $link-color;
$navbar-default-link-hover-color: $link-hover-color;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-border-color: transparent;
$navbar-default-bg: $color2;
$navbar-default-link-active-bg: $color2;


$gray-dark: #535353;

$headings-color: $color3;
$headings-font-weight: bold;

$thumbnail-border: $color2;

$table-border-color: #999;
