---
title: Actualités
layout: actualites
description: "Toutes les actualités des l'école de danse Moioli"

categories:
  - actualites

sitemap:
  changefreq: weekly
---
<h2>Actualités</h2>
<div class="row">
{% comment %}
  <div  class="col-xs-12 col-md-4">
  {% include reinscription.html %}
  </div>
  <div  class="col-xs-12 col-md-4">
    <a class="alert alert-actu" href="{{ site.baseurl }}/actualites/nouveaux_cours_janvier_2015"
      style="background-image: url({{ site.baseurl }}/images/portes_ouvertes.jpg);">
      <h4>Nouveaux cours débutants</h4>
      <h5><span class="fa fa-calendar"></span> Janvier 2015</h5>
      <p>C'est le moment de faire le premier pas !</p>
      <div class="clearfix"></div>
    </a>
  </div>
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu" href="{{ site.baseurl }}/actualites/nouveaux_cours_janvier_2016"
      style="background-image: url({{ site.baseurl }}/images/portes_ouvertes.jpg);">
      <h4>Nouveaux cours débutants</h4>
      <p><span class="fa fa-calendar"></span> Janvier 2016</p>
      <h5><b>Rock - Salsa</b></h5>
      <div class="clearfix"></div>
    </a>
  </div>
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu" href="{{ site.baseurl }}/actualites/nouveaux_cours_janvier_2017"
      style="background-image: url({{ site.baseurl }}/images/portes_ouvertes.jpg);">
      <h4>Nouveaux cours débutants</h4>
      <p><span class="fa fa-calendar"></span> Janvier 2017</p>
      <h5><b>Rock - Salsa</b></h5>
      <div class="clearfix"></div>
    </a>
  </div>
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu" href="{{ site.baseurl }}/actualites/nouveaux_cours_janvier_2018"
      style="background-image: url({{ site.baseurl }}/images/portes_ouvertes.jpg);">
      <h4>Nouveaux cours débutants</h4>
      <p><span class="fa fa-calendar"></span> Janvier 2018</p>
      <h5><b>Rock - Salsa</b></h5>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}
{% comment %}
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu contrast" href="{{ site.baseurl }}/actualites/voyage_cuba"
      style="background: url({{ site.baseurl }}/images/voyage_cuba_actualites.jpg) no-repeat #f1d9ad;">
      <h4><strong>Voyage à Cuba</strong></h4>
      <h5>Infos</h5>
      <p><span class="fa fa-calendar"></span> été 2015</h5>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}
{% comment %}
  <div  class="col-xs-12 col-md-4 text-center">
    {% include stage_tango.html %}
  </div>
{% endcomment %}
{% comment %}
  <div  class="col-xs-12 col-md-4">
    <a class="alert alert-actu" href="{{ site.baseurl }}/stage/stage_quick_step_juin_2014"
      style="background-image: url({{ site.baseurl }}/stage/Stage-Quick-step-2014_.png);">
      <h4><strong>Quick Step</strong></h4>
      <h5>Stage débutant</h5>
      <p><span class="fa fa-calendar"></span> 7, 14, 21 et 28 juin 2014</p>
      <p>&laquo; La danse qui pétille &raquo;</p>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}
{% comment %}
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu" href="{{ site.baseurl }}/stage/stage_mars_2018"
      style="background-image: url({{ site.baseurl }}/images/portes_ouvertes.jpg);">
      <h4><strong>Stage de printemps</strong></h4>
      <h4><strong>Tempo Latino</strong></h4>
      <h5>Salsa, Bachata, Cha-cha</h5>
      <h5>Kizomba, Reggaeton</h5>
      <p><span class="fa fa-calendar"></span> 25 et 26 mars 2018</p>
      <div class="clearfix"></div>
    </a>
  </div>
  <div  class="col-xs-12 col-md-4">
    <a class="alert alert-actu contrast" href="{{ site.baseurl }}/stage/stage_decembre_2016"
      style="background-image: url({{ site.baseurl }}/stage/Stage-Decembre-2016_.png);">
      <h4><strong>Stage décembre 2016</strong></h4>
      <h5>Rock'n Roll, Salsa cubaine, West coast swing, Bachata, Balboa, Chacha</h5>
      <p><span class="fa fa-calendar"></span> 3 et 4 décembre 2016</p>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}
{% comment %}
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu" href="{{ site.baseurl }}/actualites/portes_ouvertes"
      style="background-image: url({{ site.baseurl }}/images/portes_ouvertes.jpg);">
      <h4><strong>L'évènement de septembre</strong></h4>
      <h5>Portes ouvertes</h5>
      <p><span class="fa fa-calendar"></span> week-ends du 9-10 et 16-17 sept 2017</h5>
      <p>Animations - Initiations</p>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}

{% comment %}
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu contrast" href="{{ site.baseurl }}/cours/seniors"
      style="background-image: url({{ site.baseurl }}/images/cours_seniors.png);">
      <h4><strong>Nouveau</strong></h4>
      <h5>Cours séniors</h5>
      <p><span class="fa fa-calendar"></span> le jeudi à 14h</p>
      <p><span class="fa fa-arrow-right"></span> En savoir plus</p>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}

{% comment %}
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu" href="{{ site.baseurl }}/actualites/video"
      style="">
      <h4><span class="fa fa-facetime-video"></span> <strong>Vidéo</strong></h4>
      <h5>De tous temps nous dansons...</h5>
      <p>par Maxime Berthet</p>
      <p><span class="fa fa-arrow-right"></span> Voir la vidéo</p>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}

{% comment %}
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu contrast" href="{{ site.baseurl }}/soirees"
      style="background-image: url({{ site.baseurl }}/images/milonga_.jpg);">
      <h4><strong>Milongas du samedi</strong></h4>
      <h5>de 21h à 00h</h5>
      <p><span class="fa fa-calendar"></span> un samedi par mois</p>
      <p><em>Plus d'infos <span class="fa fa-chevron-right"></span></em></p>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}
{% comment %}
  <div  class="col-xs-12 col-md-4 text-center">
    <a class="alert alert-actu contrast" href="{{ site.baseurl }}/stage/stage_kizomba_mai_2016"
      style="background-image: url({{ site.baseurl }}/stage/stage_kizomba_mai_2016_.jpg);">
      <h3 style="color:#fccc0a">Kizomba</h3>
      <p><span class="fa fa-calendar"></span> 28 mai 2016</p>
      <h5>Stage & soirée<br>100% KIZ</h5>
      <div class="clearfix"></div>
    </a>
  </div>
{% endcomment %}
  <div  class="col-xs-12 col-md-4">
    <a class="alert alert-actu contrast" href="{{ site.baseurl }}/stage/stage_juin_2018"
      style="background-image: url({{ site.baseurl }}/stage/Stage-Juillet-2015_.png);">
      <h4><strong>Swing Break 2018</strong></h4>
      <h5>Rock'n Roll, Lindy Hop, Balboa, WCS, Tranky Doo</h5>
      <p><span class="fa fa-calendar"></span> samedi 2 et dimanche 3 juin 2018</p>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
