---
title: Les cours - Salsa Bachata Merengue
layout: default
description: "L'école de danse Moioli propose un cours de danse pour ceux qui veulent apprendre la salsa et les autres danses latino: bachata, merengue."

categories:
  - latino

samedi: true

lun_19_3: DÉBUTANT
mar_19_1: Niveau 3
mar_21_2: Niveau 2
mar_21_3: DÉBUTANT
mer_18_3: Niveau 2
mer_21_1: Niveau 6
mer_21_2: Niveau 4
jeu_20_1: Niveau 3
jeu_20_3: DÉBUTANT
jeu_21_2: Niveau 5
ven_19_3: DÉBUTANT
sam_11_3: DÉBUTANT
---

{% include autres_cours.html param="salsa" %}

<h2>Salsa cubaine, Bachata, Merengue</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/salsa.jpg" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <h4 style="color: #535353;">
      &laquo;&nbsp;Soyez à la mode, bougez salsa !&nbsp;&raquo;
    </h4>
    <p>
    <ul>
      <li>La danse festive la plus en vogue dans le monde,</li>
      <li>Ambiance latino dans l'air du temps,</li>
      <li>Un cocktail de rythmes et de bonne humeur.</li>
    </ul>
    </p>
  </strong></h4>
  </div>
</div>
<hr>
<h3>Planning des cours</h3>
{% include planning_cours.html %}

{% comment %}
{% include debutant.html form="1Awuf8zo2CtgkypM7e7GEl6KYCPmZfBfBEHPTow6vW3w" %}
{% include perfectionnement.html niveaux="6" %}
{% endcomment %}
