---
title: Les cours - Salsa Bachata Merengue
layout: default
description: "L'école de danse Moioli propose un cours de danse pour ceux qui veulent apprendre la salsa et les autres danses latino: bachata, merengue."

categories:
  - latino
---

{% include autres_cours.html param="salsa" %}

<h2>Salsa cubaine, Bachata, Merengue</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/salsa.jpg" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <h4 style="color: #535353;">
      &laquo;&nbsp;Soyez à la mode, bougez salsa !&nbsp;&raquo;
    </h4>
    <p>
    <ul>
      <li>La danse festive la plus en vogue dans le monde,</li>
      <li>Ambiance latino dans l'air du temps,</li>
      <li>Un cocktail de rythmes et de bonne humeur.</li>
    </ul>
    </p>
  </strong></h4>
  </div>
</div>
<hr>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-condensed  table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>lundi</th>
            <th>mardi</th>
            <th>mercredi</th>
            <th>jeudi</th>
            <th>vendredi</th>
          </tr>
        </thead>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">18h</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td class="deb">DÉBUTANT</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">19h</th>
            <td class="deb">DÉBUTANT</td>
            <td >Niveau 4</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td >Niveau 2</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td >Niveau 3</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">20h</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td></td>
            <td >Niveau 2</td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td class="deb">DÉBUTANT</td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">21h</th>
            <td></td>
            <td></td>
            <td >Niveau 6</td>
            <td >Niveau 5</td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td >Niveau 2</td>
            <td class="deb">DÉBUTANT</td>
            <td >Niveau 3</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include table_salles.html %}

{% include tarifs.html param="debutant" form="1Awuf8zo2CtgkypM7e7GEl6KYCPmZfBfBEHPTow6vW3w" %}
{% include perfectionnement.html niveaux="6" %}
{% include tarifs.html %}
