---
title: Les cours - Salsa Bachata
layout: default
description: "L'école de danse Moioli propose un cours de danse pour ceux qui veulent apprendre la salsa et les autres danses latino: bachata."

categories:
  - latino

samedi: true

table1:
  lun_19_3: Débutant
  mar_21_3: Débutant
  mer_19_3: Débutant
  jeu_18_2: Débutant
  ven_20_3: Débutant

table2:
  mar_20_3: SALSA inter 1
  mer_21_1: SALSA inter 1
  jeu_20_2: SALSA inter 1
  mar_18_1: SALSA inter 2 <small><small><em>(18h30)</em></small></small>
  mar_20_2: SALSA inter 2
  jeu_21_1: SALSA avancé 1
  jeu_21_2: SALSA avancé 2
  mer_21_2: Avancé 3
  jeu_21_3: BACHATA inter 1
  mar_21_2: BACHATA inter 1
  jeu_20_1: BACHATA inter 2
---

{% include autres_cours.html param="salsa" %}

<div class="row">
  <div class="col-sm-8">
    <h2>Salsa cubaine, Bachata</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/salsa.jpg" class="img-responsive center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Soyez à la mode, bougez salsa !&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>La danse festive la plus en vogue dans le monde,</li>
          <li>Ambiance latino dans l'air du temps,</li>
          <li>Un cocktail de rythmes et de bonne humeur.</li>
        </ul>
        </p>
      </strong></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  {% include debutant.html form="1Awuf8zo2CtgkypM7e7GEl6KYCPmZfBfBEHPTow6vW3w" %}
  </div>
</div>
<hr>
<h3>Cours débutants</h3>
{% include planning_cours.html table=page.table1 %}
<h3>Cours 2ème année et plus</h3>
<p>À partir de la 2ème année, <strong>salsa</strong> et <strong>bachata</strong> font l'objet de deux cours séparés.</p>
{% include planning_cours.html table=page.table2 %}

{% comment %}
{% include perfectionnement.html niveaux="6" %}
{% endcomment %}
