---
title: Les cours - West Coast Swing
layout: default
description: ""

categories:
  - westcoastswing
---

{% include autres_cours.html param="westcoastswing" %}

<h2>West Coast Swing</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/westcoast.jpg" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <p>
      Le West Coast Swing est une danse à deux de style swing, issue du Lindy Hop.
    </p>
    <p>
    Très tendance aujourd’hui, elle laisse une grande part à l’improvisation et se pratique sur un vaste éventail de styles musical : Pop, funk, dance, country, jazz, blues, RnB, Hip-Hop...
    </p>
  </div>
</div>
<hr>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-condensed  table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>lundi</th>
            <th>mardi</th>
            <th>mercredi</th>
            <th>jeudi</th>
            <th>vendredi</th>
          </tr>
        </thead>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">18h</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">19h</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td class="deb">DÉBUTANT</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">20h</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">21h</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include table_salles.html %}
{% include tarifs.html param="debutant" form="1_jAx3c1aeZcO1MiXXVtybP0nFjQJCW66I-dNXHpACQw" %}
