---
title: Les cours - West Coast Swing
layout: default
description: ""

categories:
  - westcoastswing

mar_19_2: DÉBUTANT
---

{% include autres_cours.html param="westcoastswing" %}

<h2>West Coast Swing</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/westcoast.jpg" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <p>
      Le West Coast Swing est une danse à deux de style swing, issue du Lindy Hop.
    </p>
    <p>
    Très tendance aujourd’hui, elle laisse une grande part à l’improvisation et se pratique sur un vaste éventail de styles musical : Pop, funk, dance, country, jazz, blues, RnB, Hip-Hop...
    </p>
  </div>
</div>
<hr>
<h3>Planning des cours</h3>
{% include planning_cours.html %}
{% include debutant.html form="1DrP9IuuYNKrER6zDofXWadF8jugb5IlwUt2up4ehi7k" %}
