---
title: Les cours - Lindy hop Balboa
layout: default
description: "A l'école de danse Moioli, on y enseigne aussi le lindy hop et le balboa. Pour les passionés des musiques swing."

lun_21_1: Niveau 3
mer_18_1: Niveau 2
ven_20_2: DÉBUTANT
---

{% include autres_cours.html param="lindy" %}

<h2>Lindy Hop, Balboa</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/lindy.jpg" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <h4 style="color: #535353;">
      &laquo;&nbsp;Pour les passionés du Swing&nbsp;&raquo;
    </h4>
    <p>
    <ul>
      <li>Créativité et humour dans ces danses exhubérantes,</li>
      <li>Des danses folles, souples et limpides,</li>
      <li>Pour le Balboa, un style glissé sur des rythmes rapides.</li>
    </ul>
    Danseurs de rock, ça va swinguer !
    </p>
  </div>
</div>
<h3>Planning des cours</h3>
{% include planning_cours.html %}
{% comment %}
{% include debutant.html form="1cWXTrJiTnD-GHTrJOg2jRmMlSKlmg15Byo5ZAVDfnZU" %}
{% include perfectionnement.html tableau="lindy" %}
{% endcomment %}
