---
title: Les cours - Lindy hop Balboa
layout: default
description: "A l'école de danse Moioli, on y enseigne aussi le lindy hop et le balboa. Pour les passionés des musiques swing."
---

{% include autres_cours.html param="lindy" %}

<div class="row">
  <div class="col-sm-8">
    <h2 class="danse-title">Lindy Hop, Balboa</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/lindy_hover.png" class="img-responsive center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;Pour les passionés du Swing&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>Créativité et humour dans ces danses exhubérantes,</li>
          <li>Des danses folles, souples et limpides,</li>
          <li>Pour le Balboa, un style glissé sur des rythmes rapides.</li>
        </ul>
        Danseurs de rock, ça va swinguer !
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<h3>Cours débutants</h3>
<div class="row">
  <div class="col-sm-7">
    <table class="table-bordered table-horaires text-center">
      <tbody>
        <tr>
          <td>Jeudi</td>
          <td>21h</td>
          <td class="salle1">Salle 1</td>
          <td class="">à partir du 20 Septembre 2018</td>
        </tr>
      </tbody>
    </table>
    {% include table_salles.html %}
  </div>
  <div class="col-sm-5">
    {% include debutant.html form="1ocvrVyV94yKPSlaK3Vy5LGkbXcixl8JZQgYtv4Sncf0" %}
  </div>
</div>
<h3>Cours 2ème année et plus</h3>
<div class="row">
  <div class="col-sm-7">
    <ul>
      <li>4 niveaux de LINDY et BALBOA</li>
    </ul>
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-sm-5">
    {% include reinscription.html %}
  </div>
</div>
