---
title: Les cours - Lindy hop Balboa
layout: default
description: "A l'école de danse Moioli, on y enseigne aussi le lindy hop et le balboa. Pour les passionés des musiques swing."
---

{% include autres_cours.html param="lindy" %}

<h2>Lindy Hop, Balboa</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/lindy.jpg" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <h4 style="color: #535353;">
      &laquo;&nbsp;Pour les passionés du Swing&nbsp;&raquo;
    </h4>
    <p>
    <ul>
      <li>Créativité et humour dans ces danses exhubérantes,</li>
      <li>Des danses folles, souples et limpides,</li>
      <li>Pour le Balboa, un style glissé sur des rythmes rapides.</li>
    </ul>
    Danseurs de rock, ça va swinguer !
    </p>
  </div>
</div>
<h3>Planning des cours</h3>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-condensed  table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>lundi</th>
            <th>mardi</th>
            <th>mercredi</th>
            <th>jeudi</th>
            <th>vendredi</th>
          </tr>
        </thead>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">18h</th>
            <td></td>
            <td></td>
            <td>Niveau 2</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">19h</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">20h</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="deb">DÉBUTANT</td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="salle1">
            <th rowspan="3">21h</th>
            <td>Niveau 3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="salle3">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include table_salles.html %}
{% include tarifs.html param="debutant" form="1cWXTrJiTnD-GHTrJOg2jRmMlSKlmg15Byo5ZAVDfnZU" %}
{% include perfectionnement.html tableau="lindy" %}
{% include tarifs.html %}
