  {% include header.html %}
  {% include slider.html %}

  <div class="bg-primary">
    <div class="container">
      {% include cours.html %}
    </div>
  </div>
  <div class="container-fluid mt-5 mb-4">
    <div class="row">
      <div class="col">
        <h1 class="danse-title text-center">
        École de danse Moioli - Osez faire le premier pas...
        </h1>
        <h4 class="danse-title text-center">
        L'endroit idéal pour apprendre les danses de couple.
        </h4>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
        <div class="col-sm-12">
            {{ content }}
        </div>
    </div>
  </div>

  {% include footer.html %}

  <script>
    // preload images
    $('a[data-role=cours]').each(function() {
      var cours = $(this).attr('data-cours');
      $(this).children('img.logo').each(function() {
        (new Image()).src = "{{ site.baseurl}}/images/" + cours + "_hover.png";
      });
    });
    $('a[data-role=cours]').hover(function() {
      var cours = $(this).attr('data-cours');
      $(this).children('img.logo').each(function() {
        $(this).attr('src', "{{ site.baseurl}}/images/" + cours + "_hover.png");
      });
    });
    $('a[data-role=cours]').mouseleave(function() {
      var cours = $(this).attr('data-cours');
      $(this).children('img.logo').each(function() {
        $(this).attr('src', "{{ site.baseurl}}/images/" + cours + ".png");
      });
    });
  </script>
