  {% include header.html %}
  <div >
    {% include slider.html %}
  </div>
  <div class="container-dark">
    <div class="container">
      <div class="row">
        <h3>
        École de danse à la Motte-Servolex, près de Chambéry, Savoie.
        </h3>
        <h4>
        C'est l'endroit idéal pour apprendre les danses de couple.
        </h4>
      </div>
    </div>
  </div>
  <hr />
  <div class="container container-light">
    <div class="row well">
        <h3 class="text-center">
          Venez apprendre les danses qu'il faut connaitre.
        </h3>
        <div class="col-md-3 text-center">
          <h4>
            Rock, Cha-cha, Valse
          </h4>
          <img src="{{ site.baseurl }}/images/rock.gif" class="logo">
        </div>
        <div class="col-md-3 text-center">
          <h4>
            Salsa, bachata
          </h4>
          <img src="{{ site.baseurl }}/images/salsa.gif" class="logo">
        </div>
        <div class="col-md-3 text-center">
          <h4>
            Tango argentin
          </h4>
          <img src="{{ site.baseurl }}/images/tango.gif" class="logo">
        </div>
        <div class="col-md-3 text-center">
          <h4>
            Lindy Hop, Balboa
          </h4>
          <img src="{{ site.baseurl }}/images/lindy.gif" class="logo">
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-9">
            {{ content }}
        </div>
        <div class="col-sm-3">
            {% include sidebar.html %}
        </div>
    </div>
  </div>
  {% include footer.html %}
