---
layout: default
---

<h2>{{ page.stage.title }}</h2>

<div class="row">
  <div class="col-xs-12">
    <p>{{ page.stage.dates }}</p>
    <blockquote>&laquo; {{ page.stage.dances }} &raquo;</blockquote>

    <p>
      <a class="btn btn-default" href="{{ site.baseurl }}/stage/{{ page.stage.assets }}.pdf" target="_blank">
        Programme et horaires
      </a>
      {% include formulaire.html form_url=page.stage.form %}
    </p>

    <p class="text-center">
      <a href="{{ site.baseurl }}/stage/{{ page.stage.assets }}.pdf" target="_blank">
        <img src="{{ site.baseurl }}/stage/{{ page.stage.assets }}.jpg"/>
      </a>
    </p>
  </div>
</div>
