---
layout: default
---

{% for page in site.pages %}
{{ page.category }}
{% endfor %}

<h2>{{ page.dates }}</h2>

<div class="row">
  <div class="col">
    <blockquote>&laquo; {{ page.dances }} &raquo;</blockquote>

    {% if page.form %}
    <p>
      <a class="btn btn-primary" href="{{ site.baseurl }}/stage/{{ page.assets }}.pdf" target="_blank">
        Programme Niveaux et Tarifs
      </a>
      {% include formulaire.html form_url=page.form %}
    </p>

    <div>
      <a href="{{ site.baseurl }}/stage/{{ page.assets }}.pdf" target="_blank">
        Cliquez pour plus d'information<br>
        <img src="{{ site.baseurl }}/stage/{{ page.assets }}.jpg" class="img-fluid center-block"/>
      </a>
    </div>
    {% else %}
    Programme et inscription à venir.
    {% endif %}
  </div>
</div>
