---
title: Les cours - Tango Argentin
layout: default
---

<h2>Tango argentin</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/images/tango.gif" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <h4 style="color: #535353;"><strong>
    &laquo;&nbsp;En trois mots : Harmonie, Complicité et Élégance.&nbsp;&raquo;
  </strong></h4>
  </div>
</div>
<hr>
<h3>Cours débutants</h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered middle" align="center">
      <tbody>
        <caption>
            Cours débutant / 1er cours <blink><b><font color="#ff0000">OFFERT</font></b></blink>
        </caption>
        <tr>
          <th scope="col" class="text-center">JOURS</th>

          <th scope="col" class="text-center">HEURES</th>

          <th scope="col" class="text-center">A partir du</th>
        </tr>
        <tr>
          <th scope="row">Mercredi</th>
          <td class="text-center">19h à 20h</td>
          <td class="text-center">complet</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% include tarifs.html %}
<hr>
<h3>Cours perfectionnement</h3>
<div class="row">
  <div class="col-xs-12">
    <p>
    <strong>3 niveaux de cours du lundi au vendredi.</strong>
    </p>
    {% include perfectionnement.html %}
  </div>
</div>
{% include tarifs.html %}
