---
title: Les cours - Tango Argentin
layout: default
description: "Des cours de tango argentin, danse langoureuse, sensuelle et technique, sont proposés à l'école de danse Moioli. Vous y apprendrez aussi la milonga et la valse argentine."

categories:
  - tango
---

{% include autres_cours.html param="tango" %}

<div class="row mb-5">
  <div class="col-sm-8">
    <h2 class="danse-title">Tango argentin</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/tango_hover.png" class="img-fluid center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;En trois mots : Harmonie, Complicité et Élégance.&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>Découvrez cette danse langoureuse. Improvisation et complicité dans le couple. Amour, séduction et sensualité. C'est le <strong>TANGO ARGENTIN</strong>.</li>
          <li>Une danse gaie et enjouée qui va de paire avec le tango : Vos premiers pas de <strong>MILONGA</strong>.</li>
          <li>Et enfin, inséparable des deux autres : La fluidité de la <strong>VALSE ARGENTINE</strong>.</li>
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Cours débutants</h3>
<div class="row">
  <div class="col-sm-7">
    {% include horaires_cours.html danse='tango' %}
    {% include table_salles.html %}
  </div>
  <div class="col-sm-5">
  {% include debutant.html form="1-ryn5wvfRValrHvzUiOTRA1lj5k6PDIGddVvmzbQ7H8" %}
  </div>
</div>
<h3>Cours 2ème année et plus</h3>
<div class="row">
  <div class="col-sm-7">
    <ul>
      <li>4 niveaux de TANGO Argentin</li>
    </ul>
    {% include text_cours_2eme_annee_plus.html %}
  </div>
  <div class="col-sm-5">
    {% include reinscription.html %}
  </div>
</div>

<h3>Tarifs</h3>
{% include tarifs_tango.html %}
{% include infos_tarifs.html %}
<h3>Les milongas</h3>
<p>
Bienvenue dans l'ambiance des Milongas où vous passerez un agréable moment de détente en vous imprégnant de la magie du tango argentin.
<br/>
<a href="{{ site.baseurl }}/cours/tango/milonga/" class="btn btn-link">
Qu'est-ce qu'une milonga ?
</a>
</p>
<p>
<a href="{{ site.baseurl }}/pdf/Calendrier Milonga 2019 2020 1er tri.pdf" class="btn btn-default" target="_blank"><i class="fa fa-calendar"></i> Calendrier des milongas</a>
</p>
