---
title: Les cours - Tango Argentin
layout: default
description: "Des cours de tango argentin, danse langoureuse, sensuelle et technique, sont proposés à l'école de danse Moioli. Vous y apprendrez aussi la milonga et la valse argentine."

categories:
  - tango

lun_19_1: DÉBUTANT
mar_20_1: Niveau 2
mer_19_1: Niveau 2
mer_20_1: Technique Tango
ven_18_2: Niveau 3
---

{% include autres_cours.html param="tango" %}

<div class="row">
  <div class="col-sm-8">
    <h2>Tango argentin</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ site.baseurl }}/images/tango.jpg" class="img-responsive center-block">
      </div>
      <div class="col-sm-8">
        <h4 style="color: #535353;">
          &laquo;&nbsp;En trois mots : Harmonie, Complicité et Élégance.&nbsp;&raquo;
        </h4>
        <p>
        <ul>
          <li>Découvrez cette danse langoureuse. Improvisation et complicité dans le couple. Amour, séduction et sensualité. C'est le <strong>TANGO ARGENTIN</strong>.</li>
          <li>Une danse gaie et enjouée qui va de paire avec le tango : Vos premiers pas de <strong>MILONGA</strong>.</li>
          <li>Et enfin, inséparable des deux autres : La fluidité de la <strong>VALSE ARGENTINE</strong>.</li>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  {% include debutant.html form="1-ryn5wvfRValrHvzUiOTRA1lj5k6PDIGddVvmzbQ7H8" %}
  </div>
</div>
<h3>Planning des cours</h3>
{% include planning_cours.html %}
{% comment %}
{% include perfectionnement.html tableau="tango" %}
{% endcomment %}
<h3>Activités autour du tango</h3>
<h4>Cours technique</h4>
<p>Ces cours tous niveaux ont lieu une fois par semaine (voir <a href="{{ site.baseurl }}/pdf/Calendrier Milonga.pdf" class="" target="_blank">calendrier</a>).</p>
<p>Ils sont la clé de voûte de votre tango. Ils vous apporteront équilibre, posture, guidage, maîtrise de la dynamique et de l'énergie, sans oublier la musicalité.</p>
<h4>Les milongas</h4>
<p>
Bienvenue dans l'ambiance des Milongas où vous passerez un agréable moment de détente en vous imprégnant de la magie du tango argentin.
<br/>
<a href="{{ site.baseurl }}/cours/tango/milonga/" class="btn btn-link">
  <span class="fa fa-info"></span> Qu'est-ce qu'une milonga ?
</a>
</p>
<p>
<a href="{{ site.baseurl }}/pdf/Calendrier Milonga.pdf" class="btn btn-default" target="_blank"><i class="fa fa-calendar"></i> Calendrier des cours technique et milongas</a>
</p>
